@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-uh7zo5');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-uh7zo5') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?-uh7zo5') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?-uh7zo5') format('woff'),
		url('../fonts/icomoon/icomoon.svg?-uh7zo5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon{
	text-align:center;
	width:100%;
	padding:40px 0;	
}

.icon-5x{
	font-size:75px;	
}

.icon-social-approach:before {
	content: "\e610";
}
.icon-dowry-violence:before {
	content: "\e60f";
}
.icon-serious-member:before {
	content: "\e600";
}
.icon-register:before {
	content: "\e601";
}
.icon-couple1:before {
	content: "\e602";
}
.icon-couple2:before {
	content: "\e603";
}
.icon-couple3:before {
	content: "\e604";
}
.icon-expresses-interest:before {
	content: "\e605";
}
.icon-member:before {
	content: "\e606";
}
.icon-local-section7:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e608";
}
.icon-marriage:before {
	content: "\e609";
}
.icon-money:before {
	content: "\e60a";
}
.icon-learn:before {
	content: "\e60b";
}
.icon-cheapest-price:before {
	content: "\e60c";
}
.icon-member-interested:before {
	content: "\e60d";
}
.icon-wedding6:before {
	content: "\e60e";
}
