body{
    font-size:.8em;	
}

#profileLink{
    font-size:12px;	
}

.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none  !important;
    -webkit-box-shadow: none  !important;
    box-shadow: none  !important;
    text-shadow:  none !important;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;    
    text-shadow:  none  !important;
}

.ui-page-theme-a a, 
html .ui-bar-a a, 
html .ui-body-a a, 
html body .ui-group-theme-a a{
    text-decoration:none;
    color:#fa396f;
    font-weight:normal;	
}

#profileLink a{
    text-decoration:none;
    color:#fa396f;	
}

.bordered{
    border:1px solid #cdcdcd;
}

.colored-bg.ui-grid-a {
    background-color: #fa396f;
}

.transparent{
    background-color:transparent;	
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;	
}

.ui-listview,
.ui-listview > li{
    border-radius: 0;
    white-space:normal;
}

#postid.ui-listview > li h2{
    white-space:normal; 
    font-weight: normal;
}

a.ui-link{
    color: #fa396f !important;
}

.text-lg{
    font-size: 1.2em;
    line-height: 1.5em;
}

h1.ui-bar.ui-bar-a,
h2.ui-bar.ui-bar-a,
h3.ui-bar.ui-bar-a,
h4.ui-bar.ui-bar-a,
h5.ui-bar.ui-bar-a,
h6.ui-bar.ui-bar-a,
.ui-li-divider.ui-bar-a{
    background-color: transparent;
    color: #fa396f;
    text-shadow: none;
    opacity: 1;
    border: none;
    text-transform: uppercase;
}

.ui-bar, .ui-body{
    text-shadow: none;
}

.relative_position{
    position:relative !important;	
}

.no-border-radius{
    border-radius:0 !important;	
}

.text-left{
    text-align:left;	
}
.text-center{
    text-align:center;	
}
.text-right{
    text-align:right;	
}
.text-justify{
    text-align:justify;	
}

.iconWrap{
    width:100%;	
}
.iconWrap > .image{
    background: #fa396f none repeat scroll 0 0;
    border: 8px solid white;
    border-radius: 50%;
    height: 60px;
    line-height: 88px;
    margin: auto;
    position: relative;
    vertical-align: middle;
    width: 60px;
    z-index: 2;
    text-align:center;
}
.iconWrap > .image > i {
    color: #fff !important;
    font-size: 25px !important;
    line-height:62px;
}

/* Navbar */
.nav-glyphish-example{
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
    background-repeat: repeat-x;	
    background-color:transparent;
}
.ui-navbar li .ui-btn{
    background-color:transparent !important;
    border:none;
    box-shadow:none !important;
    color:#fa396f !important;
    text-shadow:0 1px 0 #ffa3bd !important;
}
.nav-glyphish-example .ui-btn { padding-top: 40px !important; background-color:transparent; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#home:after { 
    background:  url(../images/nepalivivah-logo-small.png) 50% 50% no-repeat; 
    background-size: 24px 22px; 
}
#email:after { 
    font-family: FontAwesome;
    content: "\f0e0";
    display: inline-block;
    background-color:transparent;
    font-size:22px;
    top:10px;
}
#search:after { 
    font-family: FontAwesome;
    content: "\f002";
    display: inline-block;
    background-color:transparent;
    font-size:22px;
    top:10px;
}
#notification:after { 
    font-family: FontAwesome;
    content: "\f0a1";
    display: inline-block;
    background-color:transparent;
    font-size:22px;
    top:10px;
}
#menu:after { 
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    background-color:transparent;
    font-size:22px;
    top:10px;
}
#skull:after { 
    font-family: FontAwesome;
    content: "\f0c9";
    display: inline-block;
    background-color:transparent;
    font-size:22px;
    top:10px;
}

.ui-bar.ui-bar-a.title{
    background-color:#fa396f;
    color:#fff;
    text-shadow:none;
}

.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

/* Pic */
.pictureWrap{
    float:left;
    margin-top:10px;
    margin-right:10px;
}

#inset {
    background: none repeat scroll 0 0 #53a053;
    height:250px;
    width: 250px;
    text-align:center;
    float:left;
    position:relative;
    display:block;
    overflow:hidden;
}
#inset h1 {
    color: #366436;
    font-family: "League-Gothic",Courier !important;
    font-size: 150px;
    line-height:250px;
    text-shadow: 0 2px 3px #60ba60;
    text-transform: uppercase;
}
#inset.lg {
    float: left;
    height: 110px;
    width: 110px;
}
#inset.lg h1 {
    font-size: 50px;
    line-height: 110px;
}
#inset.sm {
    float: left;
    height: 75px;
    width: 75px;
}
#inset.sm h1 {
    font-size: 40px;
    line-height: 30px;
}
#inset.xs {
    float: left;
    height: 50px;
    width: 50px;
}
#inset.xs h1 {
    font-size: 30px;
    line-height: 20px;
}
#inset.xxs {
    float: left;
    height: 30px;
    width: 30px;
    margin-right:10px;
}
#inset.xxs h1 {
    font-size: 20px;
    line-height: 15px;
}
#inset span{
    bottom: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}
#inset span a{color:#fff;}

/* Profile */
#profile #imgHolder{
    width:75px;
    float:left;	
}
#profile #imgHolder .ui-btn{
    font-size:10px;	
}
#profile #infoHolder{
    width:calc(100% - 85px);
    float:left;
    padding-left:10px;	
}
#profile #infoHolder .ipintooIcon{
    width:30px;
    height:30px;
    float:left;
}
#profile #infoHolder .info{
    width:calc(100% - 30px);
    float:left;
}
#profile #infoHolder .ui-bar{
    background-color:#fa396f;	
    color: #FDFDFD;
}
#profile #infoHolder .ui-bar a{
    color: #FDFDFD;	
    text-shadow:none;
    text-decoration:none;
}
#profile #infoHolder .ui-bar a i{
    margin-bottom:5px;
    font-size:22px
}
#profile #interest .ui-bar{
    white-space:normal;	
    text-align:center;
    text-transform:uppercase;
}
#profile #interest .ui-bar div.colored{
    background-color:#fa396f;	
    border-radius:50%;
    height:25px;
    width:25px;	
    text-align:center;
    line-height:25px;
    color:#fff;
    margin:5px auto 0 auto;
}

/*= PRICING TABLE
---------------------------------------------------------------------------------------------- */
.pricing-table .plan {
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
    margin: 0 0 20px;
    position: relative;
    z-index: 1;
}
.pricing-table .plan:hover {
    border-color: #ccc #ccc #bbb;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
.pricing-table .plan-name {
    padding: 30px 0;
}
.pricing-table .plan-name h2 {
    margin: 0;
    font-weight: 400;
}
.pricing-table .plan-name h2 + p {
    margin: 10px 15px 0;
}
.pricing-table .plan-price {
    background: #fafafa;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
}
.pricing-table .plan-price b {
    font-size: 24px;
    font-weight: 400;
}
.pricing-table .plan-price b b {
    font-size: 16px;
    font-weight: 500;
}
.pricing-table .prefered .plan-price {
    background: #fff7e3;
    color: #b0a996;
}
.pricing-table .prefered .plan-price b {
    color: #d95246;
}
.pricing-table .plan-details {
    padding: 0;
}
.pricing-table .plan-details > div {
    background: #fff;
    padding: 15px;
}
.pricing-table .plan-details > div + div {
    border-top: 1px solid #e5e5e5;
}
.pricing-table .plan-action {
    background: #fafafa;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #e5e5e5;
    padding: 15px;
}
.pricing-table.row-merge .plan {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pricing-table.row-merge [class*="span"]:first-child .plan {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.pricing-table.row-merge [class*="span"]:last-child .plan {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.pricing-table.row-merge [class*="span"] + [class*="span"] .plan {
    margin-left: -1px;
}

.shape {
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.shape{    
    border-style: solid; border-width: 0 70px 50px 0; height: 0px; width: 0px; position:absolute; right:0;
    -webkit-transform: rotate(360deg);  
    -moz-transform: rotate(360deg);  
    -o-transform: rotate(360deg);  
    transform: rotate(360deg); 
}
.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-27px; top:-3px; white-space: nowrap;
    -ms-transform:rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(33deg); /* Safari and Chrome */
    transform:rotate(33deg);
}

/* Tooltip */
#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

#tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after
{
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after
{
    left: 10px;
    margin: 0;
}

#tooltip.right:after
{
    right: 10px;
    left: auto;
    margin: 0;
}

/* owl  */
.owl-img{
    width: 180px;
    height: 180px;
    display: block;
    overflow: hidden;
    margin: 0 auto;	
}

.owl-img img{
    height: 180px !important;
    width: auto !important;
    -o-object-fit: contain !important;
    margin: 0 auto;	
}

.owl-img  #inset {
    background: none repeat scroll 0 0 #53a053;
    width: 180px;
    height: 180px;
    text-align:center;
    position:relative;
    display:block;
    overflow:hidden;
}
.owl-img #inset h1 {
    font-size: 75px;
    line-height: 75px;
}

#section-notification #notification_list li{
    height:50px;	
}
#notification_list #inset{
    position:absolute;
    top:0;
    left:0;	
}
#section-notification #notification_list li .ui-btn{
    padding:10px 20px;	
}

.owl-nav{
    width:95%;
    position:absolute;	
    top:33%;	
    font-size:24px;
    color:#53a053;
}

.owl-next{
    float:right;
}

.badge{
    background: #449d44 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    font-style: italic;
    height: 17px;
    line-height: 15px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-shadow: none;
    top: 10px;
    width: 17px;
    z-index: 9;
}

.actionBtn{
    padding: 5px 10px;
    font-size: 12px;
    background: #fa396f !important;
    color: #fff !important;
    text-shadow: none !important;

}

.actionBtn.transparent{
    background: transparent !important;
    color: #fa396f !important;
    box-shadow: none;
    border: none;
}

.fileinput-preview.thumbnail{
    margin:0 auto;	
    position:relative;
    margin-bottom:10px;
    text-align: center;
    padding-bottom: 0;
    display: block;
    overflow: hidden;
}		

#photoHolde .fileinput-preview.thumbnail img{
    height: 148px !important;
    width: 0 auto !important;
    object-fit:  contain !important;
    -o-object-fit: contain !important;
}	

.owl-prev.disabled, .owl-next.disabled{
    display: none;
}

/* map css */
#panel {
    float: left;
    width: 300px;
    height: 550px;
}
#map-container {
    margin-left: 0;
}
#map {
    width: 100%;
    height: 550px;
}
#markerlist {
    height: 400px;
    margin: 10px 5px 0 10px;
    overflow: auto;
}
.title {
    border-bottom: 1px solid #e0ecff;
    overflow: hidden;
    width: 256px;
    cursor: pointer;
    padding: 2px 0;
    display: block;
    color: #000;
    text-decoration: none;
}
.title:visited {
    color: #000;
}
.title:hover {
    background: #e0ecff;
}
#timetaken {
    color: #f00;
}
.info {
    width: 200px;
}
.info img {
    border: 0;
}
.info-body {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 2px 0;
    text-align: center;
    overflow: hidden;
}
.info-img {
    height: 220px;
    width: 200px;
}

.customList > li{
    white-space: normal !important;
}

.customList > li > a > span{
    white-space: normal;
}

.customList > li > a > span > strong{
    color: #fa396f;
    font-weight: 600;
}

#formNav.ui-navbar li .ui-btn{
    color: #000 !important;
    text-shadow: none !important;
    text-align: right;;
}

.ui-listview .ui-btn .ui-btn-inner .ui-icon-arrow-r {
    color: red !important;
}

.form-list li{
    cursor: pointer;
}

.form-list .ui-checkbox{
    float: right;
    margin-right: 30px;
}

 .ui-checkbox input[type=checkbox] { 
  cursor: pointer;
  outline: 0;
  margin-top: -10px;
}
.ui-checkbox input[type=checkbox]:after {
  content: "";
  color: #333;
  display:block;
}
.ui-checkbox input[type=checkbox]:checked:after {
  content: "";
  color: #ffa500;
}
.ui-popup{
    display: block;
}
.ui-popup > .ui-header {
    background-color: #5cb85c;
    border-top-width: 0;
    color: #fff;
    margin-left: -13px;
    margin-right: -13px;
    margin-top: -13px;
    text-shadow: none;
    text-transform: uppercase;
}
.ui-popup > .ui-header > h1{
    margin:0;
    white-space: normal; !important;
}
.ui-popup .ui-btn{
    font-size: 12px;
}
.no-border{
    border:none !important;
}

.no-bg{
    background: transparent !important;
}

.white-text{
    color: white !important;
}

.green-text{
    color: #5cb85c !important;
}

.green-bg{
    background: #5cb85c !important;
}

.green-border{
    border-color:  #5cb85c !important;
}

.no-text-shadow{
    text-shadow: none !important;
}

.no-box-shadow{
    box-shadow: none !important;
}

.image-divs {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    position: relative;
    width: auto;
    display: block;
    overflow: hidden;
}