.dis-in-block {
    display:inline-block;
}
.dis-inline {
    display:inline;
}
.dis-block {
    display:block;
}

.text-lg {
    font-size:40px !important;
}

.marTop15 {
    margin-top:15px !important;
}

.header-top a:hover {
    color:#000000;
}
.header-top a.logo {
    height:40px !important;
    width:100px !important;
}

.notifications-menu .img-circle {
    width: 40px;
}
.notifications-menu .menu > li > a {
    white-space:normal !important;
}
.notifications-menu p {
    color: #888888;
    font-size: 12px;
    margin-left: 50px;
    vertical-align: middle;
    margin-bottom: 0px;
}

/* Profile Images and Extra Images*/
.image-divs {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    position: relative;
}
.image-default {
    background-image:url('../images/man-icon.png');
}

.extra-pics {
    max-height: 250px;
    max-width: 270px;
    margin: auto;
    overflow:hidden;
}
.loading {
    background-color:white;
    opacity:0.4;
}
.image-loader {
    position:absolute;
    top:38%;
    left:40%;
}

form .input_picture {
    display:none;
}


/* Member Pages */
.global-sidebar hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

li.chkbox_menu label.checkbox {
    padding: 3px 20px;
    color:#000000;
}
li.chkbox_menu:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #CF2257;
    color:#FFFFFF;
}
.header-top .userImg img {
    height:28px;
}

#inset h1 {
    line-height: 220px;
}


/***
Select2 Plugin
***/
.form-group-sm {
    margin-bottom:7px;
}
.has-error .select2-container .select2-choice, .has-error .select2-container .select2-choices {
    border-color: #a94442;
}
.form-control .select2-choice {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    background-image: none;
    filter: none;
    height: 34px;
    padding: 3px 0 0px 12px;
}

.form-group-sm .select2-choice {
    height: 30px;
    padding: 0px 0 0px 12px;
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #e5e5e5;
    background-color: #fff;
    background-image: none;
    filter: none;
}

.select2-drop {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    border-top: 0;
}

.select2-drop-auto-width {
    border-top: 1px solid #e5e5e5;
}

.select2-drop.select2-drop-above {
    border-top: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-drop-active {
    border: 1px solid #999999;
    border-top: 0;
}

.select2-container .select2-choice .select2-arrow {
    background-image: none;
    background-color: #fff;
    filter: none;
    border-left: 1px solid #e5e5e5;
}

.select2-container.select2-container-active .select2-arrow,
.select2-container.select2-dropdown-open .select2-arrow {
    border-left: 0 !important;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 0 1px;
}

.select2-search input {
    border: 1px solid #e5e5e5;
    background-color: #fff !important;
    filter: none;
    margin: 0;
    outline: 0;
    border: 1px solid #e5e5e5;
    webkit-appearance: none !important;
    color: #333333;
    outline: 0;
    height: auto !important;
    min-height: 26px;
    padding: 6px 6px !important;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 5px;
}

.form-control.select2-container, .form-group-sm .form-control.select2-container {
    border: 0;
    height: auto !important;
    padding: 0px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #999999 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-dropdown-open .select2-choice {
    border-bottom: 0 !important;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #999999 !important;
    border-top: 0 !important;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid #999999 !important;
    border-bottom: 0 !important;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

.select2-results {
    margin: 5px 0;
}

.select2-results .select2-highlighted {
    background: #eee;
    color: #333;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    padding: 3px 7px 4px;
    background: #f4f4f4;
    display: list-item;
}

.select2-container-multi .select2-choices {
    padding-left: 6px;
    min-height: 34px;
    border: 1px solid #e5e5e5;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #999 !important;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 5px 0 3px 5px;
    border: 1px solid #e5e5e5;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.message .tab-content {
    overflow-y: auto !important;
}
#inbox > a:last-child > .mesgSender {
    border:0px !important; 
}
.message .mesgSender {
    padding-bottom:5px !important;
    padding-top:5px !important;
}

.recentPosts .postsDetails-body p {
    padding:0px !important;
}

.recentPosts .postsDetails-footer {
    padding-top:10px !important;
    padding-bottom:10px !important;
}

.detail-li {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.btn-xs > .btn-label {
    left: -5px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    border-radius:0px;
}
/*Developer Pratik*/
.login-error { 
    border-color: red !important;
    border-style: solid !important;
    border-width: thin !important;    
}

.height-150px {
    height: 150px !important;
}

.margin-top-0px {
    margin-top: 0px;
}

.mb-19px{
    margin-bottom: 19px;
}

.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


.user-search-results .result-content h5 {
    margin: 0;
}
h5 {
    color: #555555;
    font-size: 14px;
    line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: normal;
    line-height: 1;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}

.result-content > h5 {
    padding-left: 20px;
    text-align: left;
}

.ml-30px{
    margin-left: 30px;
}

.user-search-results > hr{
    margin-bottom: 7px;
    margin-top: 0;
}
