/*
Theme Name: 	Support
Theme URI: 		http://maangu.com/
Author: 		Chris Mooney (Hero Themes)
Author URI: 	http://www.maangu.com/
Description: 	<strong>For updates:</strong> <a href="http://twitter.com/maanguco">Follow me on twitter</a> &ndash; <a href="http://www.facebook.com/maangudotcom">Join the Facebook Group</a>
Version: 		1.0.
License: 		ThemeForest Regular License
License URI: 	http://maangu.com
*/

/* =Notes
--------------------------------------------------------------

Please don't edit this file directly. Consider using a Child Theme (http://codex.wordpress.org/Child_Themes) or overiding CSS by using the Custom CSS box in the theme options panel.

/* = Normalize and Reset
-------------------------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}



/* =Responsive Grid
-------------------------------------------------------------- */

.row, .row-fixed, .row-adaptive, .row-delaybreak { width: 100%; margin: 0 auto;zoom: 1; }
.row:before, .row:after, .row-fixed:before, .row-fixed:after, .row-adaptive:before, .row-adaptive:after, .row-delaybreak:before, .row-delaybreak:after { content:""; display:table; }
.row:after, .row-fixed:after, .row-adaptive:after, .row-delaybreak:after { clear: both; }
.column { margin-left: 4.4%; float: left; min-height: 1px; position: relative; margin-bottom:1.5em;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.column:first-child { margin-left: 0;}
.row .col-full, .row-fixed .col-full, .row-adaptive .col-full {width: 100%;}
.row .col-half, .row-fixed .col-half, .row-adaptive .col-half {width: 47.78%;}
.row.stacked .col-half:nth-child(2n+3), .row-fixed.stacked .col-half:nth-child(2n+3), .row-adaptive.stacked .col-half:nth-child(2n+3), .row-delaybreak.stacked .col-half:nth-child(2n+3) {margin-left:0;clear: left;}
.row .col-third, .row-fixed .col-third, .row-adaptive .col-third {width: 30.4%;}
.row .col-two-third, .row-fixed .col-two-third, .row-adaptive .col-two-third {width: 65.2%;}
.row.stacked .col-third:nth-child(3n+4), .row-fixed.stacked .col-third:nth-child(3n+4), .row-adaptive.stacked .col-third:nth-child(3n+4), .row-delaybreak.stacked .col-third:nth-child(3n+4) {margin-left:0;clear: left;}
.row .col-fourth, .row-fixed .col-fourth, .row-adaptive .col-fourth {width: 21.7%;}
.row.stacked .col-fourth:nth-child(4n+5), .row-fixed.stacked .col-fourth:nth-child(4n+5), .row-adaptive.stacked .col-fourth:nth-child(4n+5), .row-delaybreak.stacked .col-fourth:nth-child(4n+5) {margin-left:0;clear: left;}
.row .col-fifth, .row-fixed .col-fifth, .row-adaptive .col-fifth {width: 16.48%;}
.row .col-sixth, .row-fixed .col-sixth, .row-adaptive .col-sixth {width: 12.98%;}
.row.half-gutter .column, .row-fixed.half-gutter .column, .row-adaptive.half-gutter .column, .row-delaybreak.half-gutter .column {margin-left:2.2%;}
.row.half-gutter .column:first-child, .row-fixed.half-gutter .column:first-child, .row-adaptive.half-gutter .column:first-child, .row-delaybreak.half-gutter .column:first-child {margin-left:0;}
.row.half-gutter .col-half, .row-fixed.half-gutter .col-half, .row-adaptive.half-gutter .col-half, .row-delaybreak .col-half {width: 48.9%;}
.row.half-gutter .col-third, .row-fixed.half-gutter .col-third, .row-adaptive.half-gutter .col-third, .row-delaybreak .col-third {width: 31.86%;}
.row.half-gutter .col-two-third, .row-fixed.half-gutter .col-two-third, .row-adaptive.half-gutter .col-two-third {width: 65.9%%;}
.row.half-gutter .col-fourth, .row-fixed.half-gutter .col-fourth, .row-adaptive.half-gutter .col-fourth, .row-delaybreak .col-fourth {width: 23.35%;}
.row.half-gutter .col-fifth, .row-fixed.half-gutter .col-fifth, .row-adaptive.half-gutter .col-fifth, .row-delaybreak .col-fifth {width: 18.24%;}
.row.half-gutter .col-sixth, .row-fixed.half-gutter .col-sixth, .row-adaptive.half-gutter .col-sixth, .row-delaybreak .col-sixth {width: 14.83%;}
.row.no-gutter .column, .row-fixed.no-gutter .column, .row-adaptive.no-gutter .column {margin-left:0;}
.row.no-gutter .col-half, .row-fixed.no-gutter .col-half, .row-adaptive.no-gutter .col-half {width: 50%;}
.row.no-gutter .col-third, .row-fixed.no-gutter .col-third, .row-adaptive.no-gutter .col-third {width: 33.333%;}
.row.no-gutter .col-two-third, .row-fixed.no-gutter .col-two-third, .row-adaptive.no-gutter .col-two-third {width: 66.6%;}
.row.no-gutter .col-fourth, .row-fixed.no-gutter .col-fourth, .row-adaptive.no-gutter .col-fourth {width: 24.99%;}
.row.no-gutter .col-fifth, .row-fixed.no-gutter .col-fifth, .row-adaptive.no-gutter .col-fifth {width: 20%;}
.row.no-gutter .col-sixth, .row-fixed.no-gutter .col-sixth, .row-adaptive.no-gutter .col-sixth {width: 16.66%;}

@media only screen and (max-width: 720px) {
.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
.row .row .column { padding: 0; }
.row > .column { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
.row > .column:last-child { margin-right: 0; float: none;}
.row > .column:before, .column:after { content:""; display:table; }
.row > .column:after { clear: both; }
.row-adaptive .col-fourth {width: 47.8%;}
.row-adaptive .col-fourth:nth-child(3) {margin-left: 0;clear:left;}
.row-adaptive.half-gutter .col-fourth {width: 48.9%;}
.row-adaptive .col-sixth {width: 30.4%;}
.row-adaptive .col-sixth:nth-child(4n+4) {margin-left: 0;}
.row.half-gutter .col-sixth, .row-fixed.half-gutter .col-sixth, .row-adaptive.half-gutter .col-sixth {width: 31.86%;}
.row.no-gutter .column, .row-fixed.no-gutter .column, .row-adaptive.no-gutter .column {margin-left:0;}
.row.half-gutter .column {margin-left:0;}
.row-adaptive.hff .col-half, .row-adaptive.ffh .col-half {width:auto !important; float: none; margin-left: 0; margin-right: 0;clear:both;}
.row-adaptive.hff .col-fourth:nth-child(2) {margin-left:0;clear:left;}
.row-adaptive.hff .col-fourth:nth-child(3) {margin-left:4.4%;}
.row-adaptive.hff .col-fourth:nth-child(3) {clear:inherit;}
}

@media only screen and (max-width: 480px) {
.row-delaybreak { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
.row-delaybreak .row .column { padding: 0; }
.row-delaybreak .column { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
.row-delaybreak .column:last-child { margin-right: 0; float: none; }
.row-delaybreak .column:before, .column:after { content:""; display:table; }
.row-delaybreak .column:after { clear: both; }
.row-adaptive .col-half {width: 100%; min-width: 0; margin-left: 0; margin-right: 0;}
.row-adaptive .col-third {width: 47.78%;}
.row-adaptive.half-gutter .col-third {width: 48.9%;}
.row-adaptive.no-gutter .col-third {width: 50%;}
.row-adaptive.stacked .col-third:nth-child(2n+3) {margin-left:0;clear: left;}
.row-adaptive.stacked .col-third:nth-child(3n+4) {margin-left: 2.2%; clear:none;}
.row-adaptive .col-sixth, .row-adaptive .col-fourth {width: 47.78%;}
.row-adaptive .col-sixth:nth-child(4n+4) {margin-left:4.4%;}
.row-adaptive .col-sixth:nth-child(2n+3)  {margin-left: 0;}
.row-adaptive .col-fourth:nth-child(3) {margin-left: 0;clear:left;}
.row-adaptive .col-fourth, .row-adaptive.half-gutter .col-fourth {width:100%;margin-left:0;}
.row-adaptive.hff .col-fourth:nth-child(3) {margin-left:0;}
.row.half-gutter .col-sixth, .row-fixed.half-gutter .col-sixth, .row-adaptive.half-gutter .col-sixth {width: 48.9%;}
.row-adaptive.half-gutter .col-sixth:nth-child(4n+4) {margin-left: 2.2%;}
}


/* = Core Classes
-------------------------------------------------------------- */

/*	Clearfix */
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}.clearfix:after{clear:both;}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/*	Responsive Video Container  */
.video-container {position: relative;padding-bottom: 56.25%;padding-top: 30px;height: 0;overflow: hidden;}
.video-container iframe, .video-container object, .video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 20px;
	background:#f5f5f5;
	margin:0 0 26px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.wp-caption .wp-caption-text,
.entry-caption {
	font-size: 13px;
	text-align:center;
	display:table;
	line-height: 100%;
    margin: 10px auto 0;
    padding: 0;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
img.alignleft {
	margin: 25px 25px 25px 0;
}
img.alignright {
	margin: 25px 0 25px 24px;
}
img.aligncenter {
	margin-top: 25px;
	margin-bottom: 25px;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 25px;
}
.entry-content dl,
.comment-content dl {
	margin: 0 25px;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
}
.entry-content dd,
.comment-content dd {
	margin-bottom: 25px;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 12px;
	line-height: 2;
	margin: 0 0 26px;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	margin: 25px 0;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

/* WordPress Gallery */
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}
.gallery dd {
	margin:0;	
}
.gallery p {
	padding:0 0 10px;	
}
.gallery .gallery-caption {
	font-size:12px;
	line-height:16px;
}
.gallery .gallery-item {
	float:left;	
}
.gallery.gallery-columns-1  .gallery-item {
	width:100%;
}
.gallery.gallery-columns-2  .gallery-item {
	width:50%;
}
.gallery.gallery-columns-3  .gallery-item {
	width:33%;
}
.gallery.gallery-columns-4  .gallery-item {
	width:25%;
}
.gallery.gallery-columns-5  .gallery-item {
	width:20%;
}
.gallery.gallery-columns-6  .gallery-item {
	width:16.5%;
}
.gallery.gallery-columns-7  .gallery-item {
	width:14%;
}
.gallery.gallery-columns-8  .gallery-item {
	width:12.5%;
}
.gallery.gallery-columns-9  .gallery-item {
	width:11%;
}
.gallery.gallery-columns-6  .gallery-caption,
.gallery.gallery-columns-7  .gallery-caption,
.gallery.gallery-columns-8  .gallery-caption,
.gallery.gallery-columns-9  .gallery-caption {
	display:none; /* Hide gallery captions when they will disturb the layout */
}

/* = Entry Content Styling
-------------------------------------------------------------- */

.entry-content p, 
.entry-content ul, 
.entry-content ol {
	margin: 0;
    padding: 0 0 26px;
}
.entry-content ul, 
.entry-content ol {
	margin: 0 0 0 80px;
}
.entry-content ul {
	list-style-type:square;
}
.entry-content ul li, 
.entry-content ol li {
	margin: 0 0 10px;
}
.entry-content blockquote {
	background:#f5f5f5;
	font-style: italic;
	margin: 0 0 26px;
    padding: 30px 30px 5px 85px;
	position:relative;
}
.entry-content blockquote:before {
	display: block;
	content: "\201C";
	font-size: 100px;
	left: 30px;
    position: absolute;
    top: 62px;
	color: #363D40;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-style:normal;
}
.entry-content blockquote p {
	padding:0 0 26px;
}
.entry-content h1, 
.entry-content h2, 
.entry-content h3, 
.entry-content h4, 
.entry-content h5, 
.entry-content h6 {
	color:#363d40;
	margin: 13px 0 20px;
	font-weight:600;
	line-height: 100%;
}
.entry-content h1 {
	font-size: 32px;
	letter-spacing:-0.6px;
	margin-bottom:26px;
}
.entry-content h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.6px;
	margin:26px 0;
}
.entry-content h3 {
	font-size: 26px;
}
.entry-content h4 {
	font-size: 22px;
}
.entry-content h5 {
	font-size: 18px;
}
.entry-content h6 {
	font-size: 16px;
}
code, pre {
	display: block;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	line-height: 0.8em;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}
pre {
	background:#f5f5f5;
	border: 1px solid #d6d6d6;
	padding: 2em;
	line-height: 1.5em;
	margin: 0 0 1.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/* =Forms
-------------------------------------------------------------- */

/* Inputs */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	background:#edeff2;
	border:none;
	color:#6e6c6c;
	padding: 10px 12px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	outline: 0;
	margin: 0 0 10px;
	text-align: left;
	vertical-align: top;
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto;
}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}
textarea {
	min-height: 40px;
	overflow: auto;
	resize: vertical;
	width: 100%;
}

/* Buttons */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	color:#fff;
	border:none;
	-webkit-appearance: none;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	overflow: visible;
	margin: 0;
	padding: 10px 14px;
	text-decoration: none;
	vertical-align: top;
	width: auto;
	font-size:15px;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  text-decoration: none;
}
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
}
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea, select[size], select[multiple] {
    height: auto;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}


/* =Document Setup
-------------------------------------------------------------- */

html {}

/* === Body === */
body {
	background:#fff;
	color: #555555;
    font: 16px/28px 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
}

/* === Links === */
a {
	text-decoration:none;
	outline:0;
	-webkit-transition-property:background color;
	-webkit-transition-duration:.12s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-property:background color;
	-moz-transition-duration:.12s;
	-moz-transition-timing-function:ease-out;
	-o-transition-property:background color;
	-o-transition-duration:.12s;
	-o-transition-timing-function:ease-out;
	transition-property:background color;
	transition-duration:.12s;
	transition-timing-function:ease-out;
}
a:hover {
	cursor:pointer;
}


/* = Page Structure
-------------------------------------------------------------- */

#site-container, .container {
	margin: 0 auto; 
	max-width: 1000px;
	padding:0 3%;
}
#site-container {
	background:#fff;	
}
#primary, 
#content, 
#sidebar {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
#content {
	float:left;
	margin:0 4% 0 0;
	width: 70%;
}
#primary.sidebar-left #content {
	float:right;
	margin:0 0 0 4%;
}
#primary.sidebar-off #content {
	width:100%;
	float:none;
	margin:0;
	border:none;
}
#sidebar {
	float:left;
	width: 26%;
	font-size:14px;
	line-height:22px;
	color:#333;
	margin:0;
	padding:0;
}
@media screen and (max-width: 720px) {
#content, 
#sidebar {
	width:100%;
	float:none;
}
#content {
	margin:0 0 20px;
}
} /* END Media Query */




/* =Header
-------------------------------------------------------------- */

#header {
	border-top: none 4px solid #333333;
	padding:40px 0;
	position: relative;
    z-index: 999;
}
#header-inner {
	position:relative;
}
#header #logo {
	float:left;
	margin:0;
}
#header #logo h1 {
	font-size: 22px;
	font-weight: bold;
}
#header #logo h1,
#header #logo a {
	margin:0;
	color:#fff;
	text-decoration:none;
	outline:none;
}
#header #logo img {
	display:block;
	margin:0 auto;
}
@media screen and (max-width: 860px) {
#header {
	text-align:center;
	padding: 25px 0;
}
#header #logo {
	margin:0 0 13px;	
	float:none;
}
} /* END Media Query */


/* = Page Navigation
-------------------------------------------------------------- */
.paging-navigation {
	font-size: 13px;
	margin: 0 0 26px;
}
.paging-navigation .nav-previous a, 
.paging-navigation .nav-next a, 
.pagination a, 
.pagination span {
	display:block;
	float:left;
	padding: 6px 14px;
	margin: 0 5px 0 0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.pagination a:hover,
.paging-navigation .nav-previous a:hover, 
.paging-navigation .nav-next a:hover {
	color:#fff !important;
	text-decoration:none;	
}
.paging-navigation .nav-previous a, 
.paging-navigation .nav-next a, 
.pagination a {
	background:#f5f5f5;
	color:#666 !important;
}
.pagination span {
	color:#fff;
}
.pagination, 
.paging-navigation .nav-previous, 
.paging-navigation .nav-next {
	float:left;
}
.pagination a:hover {
	text-decoration:none;	
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	margin: 20px 0 0;
}#footer-social ul{margin-left:15%;}
#footer-widgets {
	background:#f5f5f5;
	padding:55px 0;
	font-size:14px;
	line-height: 22px;
}
#footer-widgets .column {
	margin-bottom:0;	
}
#footer-bottom {
	background:#333;
	color:#fff;
	padding:35px 0;
}
#footer-bottom a {
	color:#fff;
}
#footer-bottom a:hover {
	text-decoration:none;
}
#footer-bottom #copyright {
	float:left;
	font-size: 13px;
    line-height: 100%;
}
@media screen and (max-width: 720px) {
#footer-widgets .column {
	margin-bottom:26px;	
}
#footer-bottom #copyright {
    float: none;
}
} /* END Media Query */



/* =Navigation & Menus
-------------------------------------------------------------- */

/* Primary Nav  */
#primary-nav {
    float:right;
	position:absolute;
	right:0;
	bottom:0;
}
#primary-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#primary-nav ul a {
    display: block;
    position: relative;
	color: #494b4d;
	font-weight: 600;
	position: relative;
	outline:none;
	font-size: 15px;
	line-height: 100%;
	height: 30px;
	text-decoration:none;
}
#primary-nav ul a.sf-with-ul {
	padding-right:1em;
}
#primary-nav ul li {
	float: left;
    padding: 0 0 0 30px;
    position: relative;
    z-index: 40;
}
#primary-nav ul li:first-child {
	padding-left:0;	
}
#primary-nav ul li:hover {
	visibility: inherit;
}
#primary-nav ul li:hover ul, 
#primary-nav ul li.sfHover ul {
	left: -20px; 
	top: 30px; 
	z-index: 99;
}
#primary-nav ul li:hover li ul, 
#primary-nav ul li.sfHover li ul, 
#primary-nav ul li li:hover li ul, 
#primary-nav ul li li.sfHover li ul, 
#primary-nav ul li li li:hover li ul, 
#primary-nav ul li li li.sfHover li ul {
	top: -9999em;
}
#primary-nav ul li li:hover ul, 
#primary-nav ul li li.sfHover ul, 
#primary-nav ul li li li:hover ul, 
#primary-nav ul li li li.sfHover ul,
#primary-nav ul li li li li:hover ul, 
#primary-nav ul li li li li.sfHover ul {
	left: 240px;
	top: 0;
}
#primary-nav ul li a:hover, 
#primary-nav ul li:hover, 
#primary-nav ul li.sfHover a, 
#primary-nav ul li.current-cat a, 
#primary-nav ul li.current_page_item a, 
#primary-nav ul li.current-menu-item a {
	text-decoration: none;
}
#primary-nav ul ul {
    background: #333;
	background:#fff;
	border:1px solid #e0e0e0;
    margin: 0 0 0 50px;
	padding:0;
	position: absolute;
	top: -9999em;
	width: 240px;
}
#primary-nav ul ul ul {
	margin:0;
}
#primary-nav ul ul li {
	background: none;
	float: none;
	width: 100%;
	margin:0;
	padding:0;
	border:none;
	height:auto;
	text-align:left;
	box-shadow:none;
	border:none;
}
#primary-nav ul ul li a {
    font-size: 13px;
	font-weight: normal;
	color:#595959;
    display: block;
    margin: 0;
    padding: 20px 15px;
	height:auto;
}
#primary-nav ul ul li a:hover {
	background:#fafafa;
}
#primary-nav .sf-sub-indicator {
	border: medium none;
    display: inline;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#primary-nav ul ul .sf-sub-indicator {
	right: 20px;
    top: 20px;
}
#primary-nav ul ul a.sf-with-ul {}
#primary-nav ul li.sfHover ul a {
	color: #595959 !important;
}
#primary-nav ul li.sfHover ul a:hover {
	color: #595959 !important;
}
/#primary-nav ul li a:hover, 
#primary-nav ul li:hover, 
#primary-nav ul li.sfHover a {
	color:#000;
}

/* Responsive Menu */
#primary-nav-mobile {
	display:none;
	margin: 0 0 15px;	
}
#primary-nav-mobile .menu-toggle {
	background: #242526;
	position:relative;
	padding: 30px;
	display:block;
	outline:none;
}
#primary-nav-mobile .menu-toggle:before {
	border-bottom: 2px solid #FFFFFF;
    border-top: 7px double #FFFFFF;
    content: "";
    height: 3px;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 18px;
}
#primary-nav-mobile ul {
	background: #242526;
	list-style:none;
	margin: 0;
    padding:0 20px 10px;
	display:none;
}
#primary-nav-mobile ul a {
	display: block; 
	padding: 12px 0;
	outline:none;
	color: #cccccc;
	font-weight:600;
}
#primary-nav-mobile ul li {
	border-top:1px solid #313335;
}
#primary-nav-mobile ul li:first-child {
	border-top:none;
}
#primary-nav-mobile ul .sub-menu {
	border-top:1px solid #313335;
}

@media screen and (max-width: 860px) {
#primary-nav {
	margin:26px auto 0;
	position:relative;
	float:none;
	display: table;
}
} /* END Media Query */

@media screen and (max-width: 720px) {
#primary-nav  {
	display: none;
}
#primary-nav-mobile {
	display:block;	
}
} /* END Media Query */


/* Footer Nav  */
#footer-nav {
	
	margin-left:17%;
	padding: 0;
}
#footer-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer-nav ul a {
    display: block;
	color: #fff;
	font-weight: normal;
	position: relative;
	outline:none;
	font-size: 12px;
	line-height: 100%;
	text-decoration:none;
}
#footer-nav ul li a:before {
	content:"";
	color:#a6a6a6;
	padding: 0 15px 0 0;
    margin: 0 0 0 15px;
}
#footer-nav ul li:first-child a:before {
	content:"";
	display:none;
}
#footer-nav ul li {
	float: left;
    position: relative;
    z-index: 40;
}
@media screen and (max-width: 720px) {
#footer-nav {
	float:none;
	margin: 13px 0 0;
}
} /* END Media Query */


/* =Comment Styling
-------------------------------------------------------------- */

#comments {
}
#comments ol {
	list-style:none;
	margin: 0 0 30px;
	padding:10px 0 0;
}	
#comments ol.children {
	background:url("images/comment-level.png") no-repeat 10px 10px;
	padding: 0 0 0 60px;
}
#comments ol.children li:last-child .comment-content {
	border-bottom: 1px solid #E5E5E5;
}
#comments .comment-content {	
	border-bottom: 1px solid #E5E5E5;
	margin: 0 0 40px;
	padding: 0 0 20px;
}
#comments ol li:last-child .comment-content  {
	border:none;
}
/* Comment Meta  */	
#comments .comment-meta {
	margin:0 0 20px;	
}
#comments .comment .avatar {
	float:left;
}
#comments .comment .comment-meta cite, 
#comments .comment .comment-meta time, 
#comments .comment .comment-content {
    margin-left: 100px;
}
#comments .comment-meta cite {
	display:block;
	font-style:normal;
	font-weight:600;
	font-size:18px;
	color: #444;
	line-height: 100%;
    margin: 0 0 8px;
}
#comments .comment-meta cite a {
	color: #444;
}
.comments-area .comment-meta time {
	color: #737980;
    display: block;
    font-size: 13px;
    line-height: 100%;
}
/* Comment Actions  */
#comments .comment-action {
    float: right;
    font-size: 14px;
    line-height: 100%;
}
#comments .comment-edit-link {
	margin: 0 5px 0 0;
}
/* Comment Content  */
#comments .comment-content p {
	margin:0 0 15px;
}
.bypostauthor {}


/* =Respond Styling
-------------------------------------------------------------- */

#respond {
	clear: both;
	margin:0 0 20px;
}
#commentform p {
	margin:0 0 15px;
}
#commentform input {
	float:left;
	margin: 0 15px 0 0;
	font-size:15px;
	padding: 16px 18px;
	max-width: 100%;
}
#commentform #submit {
	padding: 12px 22px;
	float: none;
}
#commentform .comment-notes {
	margin:0 0 26px;	
}
#commentform label {
	font-size: 14px;
}
#commentform .form-author label, 
#commentform .form-email label, 
#respond .form-url label {
	display: inline-block;
    margin: 10px 0 0;
}
#commentform .form-textarea label {
	display:block;
	margin:0 0 5px;
}
.form-allowed-tags {
	font-size:13px;
}
.form-allowed-tags code {
	font-size: 12px;
    line-height: 16px;
    margin: 0 0 26px;
}

#cancel-comment-reply-link {
	font-size:13px;
	float:right;
	color:#C4524A;
}
#commentform .logged-in-as {
	margin:0 0 26px;	
}
#commentform .required {
	color:#C4524A;
}

@media screen and (max-width: 720px) {
	
#commentform .form-author label, 
#commentform .form-email label, 	
#commentform .form-url label {
	display:block;
	margin:0 0 10px;	
}
#commentform input {
	flaot:none;
	margin:0 0 10px;
}

} /* END Media Query */


/* =Widgets
-------------------------------------------------------------- */

#sidebar .widget {
	border-bottom:1px solid #E0E0E0;
	padding:0 0 30px;
	margin-bottom:30px;
}
/* Addition Widget Styles */
#sidebar .widget.no-border {
	border:none;	
}
#sidebar .widget.boxed,
#sidebar .widget.boxed-orange,
#sidebar .widget.boxed-blue,
#sidebar .widget.boxed-green {
	padding:30px;
	border:none;
	margin-bottom:40px;
}
#sidebar .widget.boxed {
	background:#f5f5f5;
	
}
#sidebar .widget.boxed-orange {
	background:#FBFBD5;
	
}
#sidebar .widget.boxed-blue {
	background:#d5ecfb;
	
}
#sidebar .widget.boxed-green {
	background:#defbd5;
}
#sidebar .widget:last-child {
	border-bottom:none;
	margin-bottom:0;	
}
#sidebar .widget-title,
#footer .widget-title  {
    color: #262626;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 30px;
}
#footer .widget-title span {
	background:#f5f5f5;
	display: table;
    margin: 0 0 -5px;
    padding: 0 10px 0 0;
    position: relative;
}
.widget ul {
	padding:0;
	margin:0;
	list-style:square;
	list-style-position:inside;
	list-style:none;
}
.widget ul a {
	text-decoration:none;
}
.widget ul ul {
	margin:15px 0 0 15px;
	padding:15px 0 0;
}

/*	List Widget Styling */
.widget_recent_entries li, 
.widget_recent_comments li, 
.widget_meta li, 
.widget_nav_menu li, 
.widget_pages li,
.widget_categories li, 
.widget_archive li,
.widget_display_replies li,
.st_kb_articles_widget li,
.st_kb_categories_widget li {
	background: url("images/icon-arrow.png") no-repeat left 6px;
	padding-left:20px;
	margin:0 0 20px;
}
.widget_recent_entries li:last-child, 
.widget_recent_comments li:last-child, 
.widget_meta li:last-child, 
.widget_nav_menu li:last-child, 
.widget_pages li:last-child,
.widget_categories li:last-child, 
.widget_archive li:last-child,
.widget_display_replies li:last-child,
.st_kb_articles_widget li:last-child,
.st_kb_categories_widget li:last-child {
	margin:0;
}
.widget_recent_entries li a, 
.widget_recent_comments li a, 
.widget_meta li a, 
.widget_nav_menu li a, 
.widget_pages li a,
.widget_categories li a, 
.widget_archive li a,
.st_kb_articles_widget a,
.st_kb_categories_widget a {
	color:#383838 !important;
}
.widget_recent_comments li a:last-child {
	font-weight:600;	
}

/*	KB Category Widget */
.st_kb_categories_widget .children {
	margin:15px 0 0;
	padding:0;
}

/*	Category Widget */
.widget_categories li {
	clear:both;	
}
.widget_categories li span {
	color: #fff;
    float: right;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    padding: 1px 8px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

/*	Blog Widget */

.st_blog_widget li {
	margin:0 0 26px;	
}
.st_blog_widget li:last-child {
	margin:0;	
}
.st_blog_widget .has_thumb .entry-title, 
.st_blog_widget .has_thumb .entry-meta {
	margin-left:75px;
}
.st_blog_widget .entry-thumb, 
.st_blog_widget .entry-thumb.no-thumb {
	float:left;
	margin:0 15px 0 0;
	width:60px;
}
.st_blog_widget .entry-thumb.no-thumb {
	height:60px;
	background:#E5E5E5 url("images/post-small.png") no-repeat center center;
}
.st_blog_widget .entry-title {
	margin:0 0 5px;
	display:block;
	font-size: 15px;
    font-weight: 600;
	color: #30363C;
	line-height:18px
}
.st_blog_widget .entry-meta {
	float:none;
	margin:0;
	font-size: 13px;
}

/*	Search Widget */
.widget_search #s {
    width: 100%;

}

/* Calendar Widget */
.widget_calendar {
	float: left;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #525A61;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
}
#wp-calendar thead {
	font-size: 10px;
}
#wp-calendar thead th {
	padding-bottom: 10px;
}
#wp-calendar tbody {
	color: #aaa;
	background:#fafafa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	text-align: center;
	padding:8px;
}
#wp-calendar tbody td:hover {
	background: #fff;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}
#wp-calendar tfoot #prev {
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 10px;
}


/* = Entry Styling
-------------------------------------------------------------- */

.post {
	margin: 0 0 45px;
    padding: 0 0 30px;
	border-bottom:1px solid #e0e0e0;	
}
.single .post {
	padding:0;
	margin:0 0 45px;
	border-bottom:none;
}
.entry-title {
	margin:0 0 13px;
	font-size:34px;
	letter-spacing:-0.6px;
	font-weight:bold;
}
.entry-title, 
.entry-title a {
	color: #363d40 !important;
	line-height:32px;
	outline:none;
    text-decoration: none;
}

/* Entry Thumb */
.entry-thumb {
	line-height: 100%;
    margin: 0 0 26px;
}
.entry-thumb a {
	display:block;
	line-height:0;
}

/* Entry Meta */
.entry-meta {
	color: #737980;
    font-size: 14px;
	list-style:none;
	padding:0;
	margin:0 0 26px;
	line-height:100%;
}
.entry-meta a, 
.entry-meta a:hover {
	color:#737980 !important;	
	text-decoration:none;
}
.entry-meta li {
	float:left;	
}
.entry-meta li,
.entry-meta span {
	margin: 0 8px 0 0;
}
.entry-meta strong {
	font-weight:600;
}

/* Entry Content */
.single .entry-content {
	margin:0 0 26px;
}

/* Readmore Button */
.readmore, 
.readmore:visited {
	text-decoration:none;
}
.readmore:hover {}

/* Tags Display */
.tags {
	font-weight:600;
	margin:0 0 26px;	
}
.tags a, 
.widget_tag_cloud a {
	background:#F5F5F5;
	display:inline-block;
	color: #595959 !important;
	font-weight:normal;
	font-size: 13px;
    line-height: 100%;
	padding: 10px 12px;
    margin: 0 5px 10px 0;
	text-decoration:none;
}
.tags a:hover, 
.widget_tag_cloud a:hover {
	color:#595959;
}

/* Entry Author */
#entry-author {
	margin:0 0 26px;
}
#entry-author .gravatar {
	float: left;
	margin: 8px 0 0;
}
#entry-author h4, 
#entry-author 
.entry-author-desc {
	margin: 0 0 0 100px;
}
#entry-author h4 a {
	color: #3A3A40;
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 5px 0 0;}



/* =Single
-------------------------------------------------------------- */

/* Section Headings */
#entry-author-title,
#related-title,
#comments-title,
#reply-title {
	color: #363d40;
    font-size: 26px;
    font-weight: bold;
	letter-spacing: -0.6px;
	border-bottom: 1px solid #e0e0e0;
	margin: 0 0 33px;
    padding: 0 0 13px;
}


/* = Author Profiles
-------------------------------------------------------------- */

.author .author-info {
    margin: 0 0 30px;}
.author .author-avatar {
	float:left;
}
.author .author-description {
	margin:0 0 0 150px;
}
.author .author-info h2 {
	padding: 0 0 5px;
}


/* = KB
-------------------------------------------------------------- */

/* Category Listed */
.kb-category-list {
	margin-bottom:40px;	
}
.post-type-archive-st_kb .kb-category-list .column {
	margin-bottom:40px;	
}
.tax-st_kb_category .kb-category-list {
	margin-bottom: 10px;
}
.kb-category-list h3,
#category-title {
	margin: 0 0 20px;
	font-size: 24px;
	letter-spacing: -0.6px;
	font-weight:bold;
	border-bottom: 1px solid #e0e0e0;
	padding:0 0 20px;
	line-height:100%;
}
.kb-category-list h3, 
.kb-category-list h3 a,
#category-title {
	color: #30363C;
}
.kb-category-list h3 span.count {
	color:#fff;
	font-size: 13px;
	line-height: 100%;
    font-weight: 600;
    letter-spacing: 0;
    margin: 2px 0 0 10px;
    padding: 6px 8px;
	float:right;
}
.kb-category-list h3 span {
	color: #737980;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    position: relative;
    top: -3px;
}
.kb-article-list {
	margin: 0;
	padding:0;
	list-style:none;
}
.kb-article-list li {
	background:url("images/kb-small.png") no-repeat 0 0;
	margin: 0 0 10px;
    padding: 0 0 5px 40px;
}
.kb-article-list li a {
	color:#666;
	color:#41474D;
}
.st_kb {
	background: url("images/kb-med.png") no-repeat 0 0;
	margin:0 0 26px;
	padding:0 0 30px 65px;	
	border-bottom:1px solid #E0E0E0;
}
.single .st_kb {
	background:0;
	padding:0;
	border:none;
	margin:0 0 30px;		
}
.st_kb .entry-header {
	background: url("images/kb-med.png") no-repeat 0 0;
	margin:0 0 26px;
	padding:0 0 30px 65px;
	border-bottom:1px solid #E0E0E0;		
}
.st_kb .entry-title {
    font-size: 28px;
	font-weight: 600;
	margin: 0 0 15px;
}
.single .st_kb .entry-title {
    font-size: 32px;
	font-weight: bold;
	margin: 0 0 15px;
}
.st_kb .entry-meta {
	margin:0;
}


/* = Page Header
-------------------------------------------------------------- */

#page-header {
    margin: 0 0 40px;
    padding: 30px 0;
}
.post-type-archive-st_kb #page-header,
.tax-st_kb_category #page-header,
.single-st_kb #page-header,
.bbPress #page-header {
	padding: 30px 0;
}
#page-header h1 {
	color: #fff;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -0.6px;
    margin: 0;
	line-height:100%;
}
#page-header p {
	color:#fff;
	margin:10px 0 5px;
	line-height:100%;	
}
.home #page-header {
	padding:50px 0;	
}

/* Search */
#page-header #searchform #s {
	padding: 20px 20px 20px 55px;
	float:left;	
	display: block;
    margin: 20px 0 0;
    width: 70%;
	background:#fff url("images/icon-search.png") no-repeat 20px center;
}
#search-result {
	background:#fff;
	border:1px solid #E0E0E0;
	list-style:none;
	margin:0;
	padding:0;
	font-size:15px;
}
#search-result li a {
	background-position:20px center;
	background-repeat:no-repeat;
	padding:15px 20px 15px 55px;
	display:block;
	color:#595959;
}
#search-result li a:hover {
	background-color: #fafafa;
}
#search-result li.sr-st_kb a {
	background-image: url("images/kb-small.png");
}
#search-result li.sr-topic a,
#search-result li.sr-reply a,
#search-result li.sr-forum a {
	background-image: url("images/forum-small.png");
}
#search-result .nothing-here {
	padding:15px 20px;	
}
@media screen and (max-width: 720px) {
#page-header #searchform #s {
    width: 100%;
}
} /* END Media Query */

/* Subnav */
#page-subnav {
	background:#f5f5f5;
	margin:-40px 0 40px;
	padding:20px 0;
	font-size:14px;
	color:#595959;
}
#page-subnav a {
	color:#595959;	
}
#page-subnav h2 {
	color: #393c40;
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 5px;
}
#breadcrumbs ul {
	list-style:none;
	margin:0;
	padding:0;
	color:#393c40;
	font-size:13px;
}
#breadcrumbs li {
	float:left;
}
#breadcrumbs span {
	margin:0 10px;	
	color:#999999;
}
#page-subnav .icon {
    float: left;
}
#page-subnav.icon h2, #page-subnav.icon #breadcrumbs {
	padding-left:80px;	
}
@media screen and (max-width: 720px) {
#page-subnav {
	padding:15px 0;
}
#breadcrumbs span {
    margin: 0 8px;
}
} /* END Media Query */


/* = Homepage
-------------------------------------------------------------- */

.home #page-header {
	text-align:center;
	color:#fff;
}
.home #page-header h1 {
	font-size:42px;
	font-weight:bold;
	margin:0;
}
.home #page-header h2 {
	font-size:18px;
	font-weight:normal;
	margin:20px 0 0;
	padding:0 18%;
}
.home #live-search {
	margin:25px 0 0;
}
.home #live-search #searchform #s {
	margin:0 auto;	
	float:none;
}
#features-list {
	background:#F5F5F5;
	margin:-40px 0 40px;
	padding:40px 0 10px;
}
#features-list .column {
	margin-bottom:30px;
}
#features-list .column > a {
	display:block;
}
#features-list .feature-icon {
	display:block;
	text-align:center;
	margin: 0 0 26px;
	line-height: 65px;
}
#features-list .feature-icon img {
	vertical-align: middle;
}
#features-list h3 {
	margin:0 0 20px;
	font-size:26px;
	font-weight:600;
	color: #363D40;
	letter-spacing:-0.6px;	
	text-align: center;
}
#features-list p {
	margin:0;
	font-size:15px;
	line-height:22px;
	text-align: center;	
}
.home #homepage-content {
	margin-bottom:30px;
}
#homepage-widgets .column {
	margin-bottom:40px;	
}
#homepage-widgets .widget-title {
	color: #363D40;
	font-size:18px;
	font-weight:600;
	margin: 0 0 26px;
	border-bottom:1px solid #E0E0E0;
}
#homepage-widgets .widget-title span {
	background:#fff;
	bottom: -7px;
    padding: 0 15px 0 0;
    position: relative;
}
#homepage-widgets .st_kb_articles_widget li {
	background: url("images/kb-small.png") no-repeat 0 0;
	padding-left:40px;
}
#homepage-widgets .widget_display_forums li,
#homepage-widgets .widget_display_topics li,
#homepage-widgets .widget_display_replies li {
	background: url("images/forum-small.png") no-repeat 0 4px;
	padding-left:40px;
}
@media screen and (max-width: 720px) {
.home #page-header h2 {
	padding:0;
}
} /* END Media Query */


/* =FAQs
-------------------------------------------------------------- */

.st_faq .entry-title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.6px;
    margin: 0 0 26px;
}
.st_faq h3 a {
	display:block;
}
.st_faq h3,
.st_faq h3 a {
	color: #363D40;
}
.st_faq .action {
    background:#4D4D4D;
	float:left;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 24px;
    position: relative;
    text-align: center;
    top: 4px;
    width: 25px;
	margin: 0 15px 0 0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.st_faq .entry-title .plus, 
.st_faq .entry-title .minus {
    display: none;
}
.st_faq .entry-title .plus {
    display: block;
}
.st_faq .entry-title.active .minus {
    display: block;
    line-height: 22px;
}
.st_faq .entry-title.active .plus {
    display: none;
}
.single-st_faq .entry-content {
	margin:0;
}


/* =404
-------------------------------------------------------------- */

.error404 #page-header {
	padding:60px 0;
	margin:0;
}
.error404 #footer {
	margin:0;
}



