ul.table{padding:0; margin:}
ul.table li{border-top:1px solid #ddd; list-style:none}
.state-icon {
    left: -5px;
}

.alertNum a{color:#fff;}

.change-profile-img{
    padding:5px 33px;
    font-size:18px;
    position:absolute;
    top:85%;
    color:#fff;
}

.change-profile-img span{
    display:none;
}

.change-profile-img:hover{
    background-color:#cf2257;
    color:#fff;
    font-size:15px;
    padding:5px 38px;
}

.list-view-img{
    width:100px;
    height:100px;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    clear:both;	
}

.change-profile-img:hover a{
    color:#fff;
    text-decoration:none;
}

.change-profile-img:hover a:hove{
    text-decoration:none;
}

.change-profile-img:hover span{
    display:inline;
}
.nav > li > a:focus, .nav > li.active > a{background-color:#cf2257 !important; color:#fff !important}
#salaryinformation .btn, #ageRange .btn, #livesInfo .btn, #heightInfo .btn, #bodyComplexionInfo .btn, #color .btn, #languageInfo .btn, #religionInfo .btn, #caste .btn, #socialInfo .btn, #birthDetails .btn, #professionalInformation .btn, #aboutDetails .btn, #institutionInfo .btn, #profession .btn, #salary .btn, #presentAddress .btn, #mangalik .btn, #usernameInfo .btn, #userEmailInfo .btn, #userPassInfo .btn, #useriPintoInfo .btn, #notifiSIIM .btn, #notifiIIU .btn, #notifiMVMP .btn, #notifiMS .btn, #notifiMCIIM .btn, #subsPH .btn{background:none; padding:0; color:#0072b1; border:0;}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0 !important;padding-bottom: 0 !important;}

.text-lg{
    font-size:30px !important;	
}

.btn { margin-bottom:10px; }

@media (max-width:767px){
    .list-group .list-group-item span{display:none;}
    .list-view-img{
        width:56px !important;
        height:56px !important;	
    }
}

.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 30px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #0b56a8; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #E50000;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}
.nav > li > a:focus, .nav > li.active > a{background-color:#0b56a8}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#0b56a8;
    border-color: #0b56a8;
}
article h2{color:#333333;}
h2{color:#0b56a8;}
.margin10{margin-bottom:10px; margin-right:10px;}

.container .text-style
{
    text-align: justify;
    line-height: 23px;
    margin: 0 13px 0 0;
}
.panel-title {
    color: #469408 !important;
    font-size: 35px !important;
    font-weight: normal;
    letter-spacing: -0.8px;
    line-height: 45px;
}
h4.panel-title {
    color: #cf2257 !important;
    font-size: 25px !important;
    font-weight: normal;
    letter-spacing: -0.8px;
    line-height: 45px;
}
div.panel-title {
    color: #fff !important;
    font-size: 20px !important;
    font-weight: normal;
    letter-spacing: -0.8px;
    line-height: 45px;
}
.panel-info .panel-title {
    color: #31708f !important;
}
.panel-default .panel-title {
    font-size:18px !important;
}
.photos h2{color:#469408}
.photos .photoGallery-row{margin: 20px 0;}
.userDeatails-header{
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #dfdddd;
    padding: 15px;
    font-weight:700;
}
.photos  .userDescription {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #fff;
}

.borderBox {
    background: none repeat scroll 0 0 #ebedf0;
    border: 1px solid #dadada;
    margin-bottom: 20px;
    padding: 20px;
}
.panel-statistic{border-left:1px solid #ccc; height:115px;}

.matchTogether h2{font-size:35px;color:#cf2257;}

.matchTogether h4{color:#cf2257}

.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}
.bordered{border:1px solid #ddd}

.nav-sidebar { 
    width: 100%;
    font-size: 14px;
    padding: 30px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #0b56a8; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #f76043;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}
.tab-content h3{color:#cf2257}
.nav > li > a:focus, .nav > li.active > a{background-color:#cf2257}
.state-icon {
    left: -5px;
}

.alertNum a{color:#fff; font-size:16px;}

.change-profile-img{
    padding:5px 33px;
    font-size:18px;
    position:absolute;
    top:85%;
    color:#fff;
}

.change-profile-img span{
    display:none;
}

.change-profile-img:hover{
    background-color:#cf2257;
    color:#fff;
    font-size:15px;
    padding:5px 38px;
}

.change-profile-img:hover a{
    color:#fff;
    text-decoration:none;
}

.change-profile-img:hover a:hove{
    text-decoration:none;
}

.change-profile-img:hover span{
    display:inline;
}



ul.table{padding:0; margin:}
ul.table li{border-top:1px solid #ddd; list-style:none; padding:3px 0;}

#weddingDateInfo .btn, #smokeInfo .btn, #drinkInfo .btn, #hightRange .btn, #birthPlace .btn, #livesInfo .btn, #heightInfo .btn, #bodyComplexionInfo .btn, #color .btn, #languageInfo .btn, #religionInfo .btn, #caste .btn, #socialInfo .btn, #smokeedit .btn, #drinkedit .btn, #birthDetails .btn, #professionalInformation .btn, #aboutDetails .btn, #institutionInfo .btn, #profession .btn, #salary .btn, #presentAddress .btn, #mangalik .btn{background:none; padding:0; color:#0072b1; border:0;}

@media(min-width:768px){
    .bordered img{float:left}
}

@media(max-width:767px){
    .bordered{padding:5px}
    .bordered img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.advertise .global-sidebar .sidebar-content{border:none;}		
.advertise .brand-heading{
    color: #cf2257;
    font-family: times new roman;
    font-size: 80px;
    padding: 40px;	
}
.advertise .sidebar-inner{border-radius:5px;}

.firstTimeSubs .boxContent-inner{padding:0}
.firstTimeSubs .well{
    border-radius:10px;
    border:2px solid #fff;
    background:url(images/pattern.jpg) repeat top left;	
}

.firstTimeSubs .button{
    width:100%;
    background:none;	
}

.firstTimeSubs .gender{
    padding:85px 0;
    margin-bottom:25px;
}

.firstTimeSubs .gender .fa{
    font-size:75px;
    color:#fff;
}

.firstTimeSubs h3 {
    color: #cf2257;
    font-size:32px;
}
.intesestedIn .panel-statistic{border-left:1px solid #ccc; height:115px;}

.intesestedIn .matchTogether h2{font-size:35px;color:#cf2257;}

.intesestedIn .matchTogether h4{color:#cf2257}

.intesestedIn .thumbnail {
    position:relative;
    overflow:hidden;
}

.intesestedIn .caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.intesestedIn .thumbnail:hover .caption {
    top:0%;
}
.intesestedIn .bordered{border:1px solid #ddd}

.intesestedIn .nav-sidebar { 
    width: 100%;
    padding: 30px 0; 
    border-right: 1px solid #ddd;
}
.intesestedIn .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.intesestedIn .nav-sidebar .active a { 
    cursor: default;
    background-color: #0b56a8; 
    color: #fff; 
}
.intesestedIn .nav-sidebar .active a:hover {
    background-color: #f76043;   
}
.intesestedIn .nav-sidebar .text-overflow a,
.intesestedIn .nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}
.intesestedIn .tab-content h3{color:#cf2257}
.intesestedIn .nav > li > a:focus, .nav > li.active > a{background-color:#cf2257}
.intesestedIn .state-icon {
    left: -5px;
}

@media(min-width:768px){
    .intesestedIn .bordered img{float:left}
}

@media(max-width:767px){
    .intesestedIn .bordered{padding:5px}
    .intesestedIn .bordered img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.logalSingelesMember .boxContent-inner{padding:0}
.logalSingelesMember .well{
    border-radius:10px;
    border:2px solid #fff;
    background:url(images/pattern.jpg) repeat top left;	
}

.logalSingelesMember .button{
    width:100%;
    background:none;	
}

.logalSingelesMember .gender{
    padding:85px 0;
    margin-bottom:25px;
}

.logalSingelesMember .gender .fa{
    font-size:75px;
    color:#fff;
}

.logalSingelesMember h4 {
    color: #cf2257;
    margin-top:0;
}
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:bold}.multiselect-container>li>label.multiselect-group{margin:0;padding:3px 20px 3px 10px;height:100%;font-weight:bold;}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:normal}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type="checkbox"]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}
#refineSearchBlock{padding:5px 0 0; background:#ccc;}

#refineSearch{margin-top:10px}

#refineSearchBlock .btn {
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
}

.logalSingelesMember #refineSearchBlock .col-sm-3{margin-bottom:5px}	

@media (min-width:768px){
    .logalSingelesMember #refineSearchBlock .col-sm-3{width:auto; margin-bottom:5px; padding:0 6px;}	
}

.matrimony .panel ul{list-style:none; margin:0; padding:0;}
.matrimony .panel .panel-body ol li, .panel .panel-body ul li{margin-left:0}
.matrimony .panel ul li{border-bottom:1px dashed #ccc; padding:5px 0;}
.matrimony .panel ul li:last-child{border-bottom:none;}
.matrimony .panel ul li p{margin-bottom:0}

.panel-statistic{border-left:1px solid #ccc; height:115px;}

.matchTogether h2{font-size:35px;color:#cf2257;}

.matchTogether h4{color:#cf2257}

.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}
.bordered{border:1px solid #ddd}

.state-icon {
    left: -5px;
}

@media(min-width:768px){
    .bordered img{float:left}
}

@media(max-width:767px){
    .bordered{padding:5px}
    .bordered img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.memberProfile .boxContent-inner{padding:0}
.memberProfile .well{
    border-radius:10px;
    border:2px solid #fff;
    background:url(images/pattern.jpg) repeat top left;	
}

.memberProfile .button{
    width:100%;
    background:none;	
}

.memberProfile .gender{
    padding:85px 0;
    margin-bottom:25px;
}

.memberProfile .gender .fa{
    font-size:75px;
    color:#fff;
}

.memberProfile h3, .photos h3, .borderBox h3 {
    color: #cf2257;
    font-size:32px;
}

.borderBox .noData-msg{
    color:#f76043 !important;
}

.memberProfile .item button{position:relative; margin-top:-15px;}	

.memberProfile #jqcanvas_1{
    height:125px !important;	
}

.memberProfile #test{margin-top:-22px;}

/*Author: Kosmom.ru*/
.memberProfile .loading,
.memberProfile .loading>td,
.memberProfile .loading>th,
.memberProfile .nav li.loading.active>a,
.memberProfile .pagination li.loading,
.memberProfile .pagination>li.active.loading>a,
.memberProfile .pager>li.loading>a{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
    animation: 2s linear 0s normal none infinite progress-bar-stripes;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
}

.memberProfile .btn.btn-default.loading,
.memberProfile input[type="text"].loading,
.memberProfile select.loading,
.memberProfile textarea.loading,
.memberProfile .memberProfile .well.loading,
.list-group-item.loading,
.memberProfile .pagination>li.active.loading>a,
.memberProfile .pager>li.loading>a{
    background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

.memberProfile .panel-statistic{border-left:1px solid #ccc; height:115px;}

.memberProfile .matchTogether h2{font-size:35px;color:#cf2257;}

.memberProfile .matchTogether h4{color:#cf2257}

@media (max-width:767px){
    .memberProfile .item button{margin-top:5px}
}	

.message .nav-tabs > li.active > a, 
.message .nav-tabs > li.active > a:hover, 
.message .nav-tabs > li.active > a:focus{border:none;}
.message .nav-tabs .btn-default,
.message .btn-default:hover, 
.message .nav-tabs .btn-default:focus, 
.message .nav-tabs .btn-default.active{background:none; border:none; color:#000; padding:7px 15px 10px;}
.nav-tabs .btn-group.open .dropdown-toggle{box-shadow:none; background:none;}

.message .tab-content{
    max-height:587px;
    display:block;
    overflow-y:scroll;	
}

.message .tab-content > .tab-pane{width:90%;}

.message #custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

.message .messageHeader{
    height:485px;				
    display:block;
    overflow-y:scroll;
    margin-bottom:10px;
}

.message .tab-content h1,
.message .tab-content h2,
.message .tab-content h3,
.message .tab-content h4,
.message .tab-content h5,
.message .tab-content h6{margin:5px 0 0;}

.message .mesgSender h1,
.message .mesgSender h2,
.message .mesgSender h3,
.message .mesgSender h4,
.message .mesgSender h5,
.message .mesgSender h6{margin:0;}		

.message .tab-content p{margin:0}

.message .messageHeader .row{width:100%}

.message .messageFooter{position:relative;}

.message #container .mesgSender{border-bottom:none;}

.message .mesgSender{border-bottom:1px solid #CCC; padding:3px 0; position:relative}

.message a:hover .mesgSender{background-color:#eff0ee;}

.message .mesgSender h6{font-size:11px}

.message .mesgSender .msgDivClose{position:absolute; right:15px; top:12px; display:none;}

.message a:hover .mesgSender .msgDivClose{display:block}

.message .titleName{border-bottom:1px solid #CCC; padding-bottom:3px;}

.message #custom-search-form .search-query {
    padding:0 5px;
    margin:10px 0;
    width:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}

.message #custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.message .search-query:focus + button {
    z-index: 3;   
}  

.message h6.major {
    border-top: 1px solid #CCC;
    margin: 0;
    position: relative;
    text-align: center;
}  

.message h6.major small{
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    padding: 0 1.5em;
    position: relative;
    top: -10px;
}

.message .sponsored{background:#999; color:#333; padding:5px 10px;}

.register .boxContent-inner{padding:0}
.register .wrapper{margin-top:0;}


/* Search */

/* process-list */
.process-list{
    padding:0;
    margin:0;	
    list-style:none;	
}

.process-list li{
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#47a800;	
    padding-top:35px;
}

.process-list li i.icon{
    font-size:50px;
    background-color:#FFF;
    padding:25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;	
    color:#5cb85c;
}

.process-list li:first-child{
    border-left:none;	
}

#topReasons .process-list li{
    border-color:#006b9d;	
}

#topReasons .process-list.first li{
    height:350px;	
}

#topReasons .process-list.second li{
    height:275px;	
}

#topReasons .process-list li i.icon{
    color:#0079b3;	
}

/* */
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-step .btn-circle {
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
}

.firstProfile .openBtn{display:none;}
.firstProfile:hover .openBtn{display:block;}
.firstProfile:hover a.thumbnail{border-radius: 50%; display:block; overflow:hidden}
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.report .well{
    background: url(../images/pattern.jpg) repeat scroll 0 0 #eaeae2;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.75);
    font-family: Droid Serif,"droid-serif",Georgia,Times New Roman;
    padding: 40px 60px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.fancybox, .photoGallery-img {
    position:relative;
}

.photoGallery-action{
    position:absolute;
    z-index:99;
    bottom:0;
}

.photoGallery-img .action-row{
    display:none;
}

.photoGallery-img:hover .action-row{
    display:block;
}
.popover-content .notifyPopup{width:auto; color:#000 !important;}
.notifyPopup .row.first{margin-top:3px; border-top:1px dashed #ccc; padding-top:3px;}
.popover-content a{color:#333 !important}
.popover-content a:hover{color:#cf2257 !important;}
.notifyPopup h6{margin:0}
.notifyPopup .footerPopup{
    background-color: #f7f7f7;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #c5c5c5;
    margin-top:3px;	
}


.navbar-xs { min-height:22px; border-radius:0; margin-right:25px; float:right;} 
.notifyPopup .header-top a{color:#cf2257 !important}
.navbar-xs .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 14px; } 
.navbar-xs .navbar-nav > li > a { padding-top: 2px; padding-bottom: 2px; line-height: 16px; padding-top:0; padding-right:0 }
.navbar-xs .navbar-nav > li > a:hover, .navbar-xs .nav .open > a, .navbar-xs .nav .open > a:focus, .navbar-xs .nav .open > a:hover { background:none; border:none;}
.navbar-xs .navbar-nav > li > .dropdown-menu{width:250px;}

@media(max-width:768px;){
    .navbar-xs {float:left !important;}

}

.tokenize_location_test ul.TokensContainer{
    height: 80px !important;
}
.no_image_initial{
    color: #a91240;
    height:28px;
    max-width: 28px;
    position: relative;
    text-align: center;
    width: 28px;
    padding-top: 0px;
    font-size: 17px;
    margin-top: 6px;
}

