.button {
    box-shadow: 0px 2px 2px #1d1819;
    color: #fff;
    font-family:"proxima-nova",arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #318296;
    background-color: #2697b3; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #45a7bf, #2697b3); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #45a7bf, #2697b3); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #45a7bf, #2697b3); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #45a7bf, #2697b3); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to bottom, #45a7bf, #2697b3); /* Standard syntax; must be last */
}

.img-replacement {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
/*================================
=            3. LOGIN            =
================================*/

.login {
    color: #fff;
    position: absolute;
    right: 45px;
    top: 35px;
}

.login a.button {
    padding: 7px 15px;
}

.login span {
    margin-right: 15px;
}

/*=================================
=            4. HEADER            =
=================================*/

.tecate-headline {
    background-image: url('../images/tecate/headline-low.png');
    height: 82px;
    margin-top: 0;
    width: 610px;
}

#top {
    z-index: 11;
    display: block;
    min-height: 748px;
    overflow: hidden;
}

/*===============================
=            5. FORM            =
===============================*/

.form-container {
    height: auto;
    position: relative;
    width: 100%;
    margin-bottom:25px;
}

.form-container .shadow-1,
.form-container .shadow-2,
.form-container .regform {
    border-radius: 10px;
    position: relative;
}

.form-container .regform {
    background: #fff;
    border: 1px solid #afa9a7;
    height: auto;
    padding: 30px 40px;
    z-index: 3;
    width:100%;
}

.form-container .shadow-1,
.form-container .shadow-2 {
    top: 18px;
    width: 515px;
}

.form-container .shadow-2 {
    background: rgb(0, 89, 99);
    height: 385px;
    right: 0;
    z-index: 2;
}

.form-container .shadow-1 {
    background: rgba(0, 89, 99, 0.2);
    height: 385px;
    left: 0;
    z-index: 1;
}

.form-container .ribbon {
    background: url("../images/form-ribbon.png") no-repeat scroll center center / contain  rgba(0, 0, 0, 0);
    height: 57px;
    width: 100%;
}

.form-container h3 {
    margin-bottom: 15px;
}

.form-container .frame {
    float: left;
    padding-left: 58px;
    padding-top: 5px;
    width: 330px;
}

.form-container h5 {
    font-weight: bold;
    color: #514A3E;
    font-size: 14px;
    margin: 0 0 12px 12px;
}

.form-container form {
    overflow: hidden;
}

.form-container.tall .regform { height: 420px;}
.form-container.tall .shadow-1 { height: 485px;}
.form-container.tall .shadow-2 { height: 475px;}


.frame-container {
    width: 100%;
}

/*==========  RegForm  ==========*/

.regform .text {
    width: 100%;
    border: 1px solid transparent;
}

.regform .half .text {
    max-width: 130px;
    overflow: hidden;
}

.regform .text select {
    margin-left: -2px;
    background: transparent;
    border: 0;
    color: inherit;
    font-size: inherit;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    padding:0;
}


.regform select {
    margin: 0;
}

.regform section {
    margin-bottom: 15px;
}


.regform section div.text {
    overflow:hidden;
    background:url(../images/updownarrow.png) no-repeat 97% center #ffffff;
}

.regform .button {
    background: transparent url(../images/te-button.png) no-repeat;
    border: none;
    box-shadow: none;
    display: block;
    font-size: 1.1em;
    height: 45px;
    line-height: 45px;
    margin: 10px auto 0;
    position: relative;
    text-transform: none;
    width: 228px;
}

.regform .frame {
    transition: all 0.4s ease-in-out;
}
.regform .frame.hidden {
    visibility: hidden;
}
.regform #frame1.frame.hidden {
    margin-left:-400px;
}

.regform .text.invalid { 
    border: 1px solid #bf202f;
    color: #bf202f;
    background: #FCF9CF !important;
    -moz-transition:background 0.4s ease;
    -webkit-transition:background 0.4s ease;
    -ms-transition:background 0.4s linear;
}


.regform .tip {
    font-size: 11px;
    color: #bf202f;
    height: 1em;
    margin: 2px 0 -1em 8px;
    font-weight: bold;
    display: block;
    clear: both;
}

.regform .submitbox {
    text-align: center;
    margin-top: -35px;
}

.regform .submitbox p {
    font-size: 11px;
    color: #999;
    margin-top: 23px;
}

.regform hr.dotted {
    border: 2px dotted #ccc;
    border-width: 2px 0 0 0;
    margin: 0 0 14px 0;
}

#regsubmit {
    line-height: 0px;
}

#frame2 .button {
    display:inline-block;
    margin-left: 30px;
}
#frame2 .submitbox a {
    text-decoration: underline;
    color: #1F86A5;
}

/*==========  inline form  ==========*/

.inline-form {
    font-family: Georgia;
    font-size: 16px;
}

.inline-form .button {
    margin-top: 40px;
}

.inline-input .text.select-wrapper {
    background: url(../images/dd-arrow.png) no-repeat right -1px #ffffff;
    height: 22px;
}
.regform .inline-input .text select { padding-left: 4px; }

.inline-form .inline-input {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.inline-form .inline-input.large {
    width: 160px;
}

#frame2 .inline-input.large {
    width: 170px;
}

.tecate-frame#frame2 [name="emailAddress"],
.tecate-frame#frame2 [name="password"],
.tecate-frame#frame2 #foundcontainer {
    width: 100%;
}

#frame2 [name="emailAddress"] {
    width: 286px;
}

#frame2 [name="password"] {
    width: 167px;
}

#frame2 #foundcontainer {
    width: 213px;
}

.inline-form .medium,
.inline-form .medium .select-wrapper {
    width: 100px;
}


.inline-form .paragraph {
    color: #666666;
    margin-bottom: 30px;
    line-height: 22px;
}

.inline-form .small {
    width: 60px;
}

.inline-form .small select {
    width: 70px;
}

.inline-form select {
    background: transparent;
    border: none;
    border-bottom: 1px solid #8c8c8c;*/
    border-radius: 0;
    color: inherit;
    font-family: Georgia, serif;
    font-size: 14px;
    height: 100%;
    text-align: center;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    text-indent: 0.01px;
    text-overflow: '';
}

#country-container {
    width: 125px;
}

#country-container .select-wrapper {
    width: 100%;
}

.inline-form select[name="country"] {
    text-align: left;
    width: 100%;
}

.inline-form select[name="gender"],
.inline-form select[name="gender2"] {

}

.inline-form input.text {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #8c8c8c;
    font-family: Georgia, serif;
    font-size: 14px;
    /*height: 30px;*/
    padding-left: 0;
    text-align: center;
}

.inline-form .text.invalid {
    background: #ffffcc;
    border-color: #ff3333;
    color: #ff3333;
}

.inline-form .text.valid {
    border-bottom: 1px solid #8c8c8c;
}

.inline-form  .frame {
    padding-left: 0;
    width: 100%;
}

.inline-form #frame1.frame.hidden {
    margin-left: -435px;
}

.inline-form .tip {
    color: #ff0000;
    font-family: "Myriad Pro", serif;
    font-weight: lighter;
    margin-left: 0;
    text-transform: lowercase;
    line-height: 1em;    
}

.inline-form .select-wrapper {
    border-bottom: 1px solid #8c8c8c;
}

/*==========  COVER IMAGE CSS  ==========*/
/* Ignore img.full when background-size property is supported */
.backgroundsize #top .full {
    display: none;
}

.backgroundsize #top,
.no-backgroundsize #top .full {
    background-size: cover;
}

.backgroundsize .tecate-page#top {
    background: url(../images/background.jpg) no-repeat top center;
    background-size: cover;
}

/* Fallback img.full when background-size property is not supported */
.no-backgroundsize #top .full {
    display: block;
    height: 100%;
    width: 100%;
}

/*========================================
=            6. Dogfish Tests            =
========================================*/
.ehplus {
    width: 100%;

}

.dogfish-active {
    height: 410px!important;
}

.shadow-height {
    height: 465px!important;
}
/*========================================
=            6. @media 1024px            =
========================================*/

@media screen and (max-width: 767px) {
    .form-container .shadow-1, .form-container .shadow-2, .form-container .regform{position:relative}

    .form-container .shadow-1, .form-container .shadow-2{display:none;}

    .form-container .regform, .form-container{height:auto}



    .regform .button{width:auto}
}

.text-line {

    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ff002b;
    font-family: Georgia, serif;
    font-size: 14px;
    /*height: 30px;*/
    padding-left: 0;
    text-align: center;

    /*    border-bottom:solid 1px;
        text-align : center;
        border-color : red;*/
}