
#gauge {
    float: left;
    margin-left: 40px;
    width: 175px;
    position: relative;
    height: 120px;
    background: url(../images/speedometer-2.png) no-repeat;
}

#needle {
        height: 5px;
    width: 50px;
    background: #ff0200;
    position: absolute;
    bottom: 30px;
    left: 35px;
}

#numbers {
    width: 140px;
    height: 30px;
    background: #191919;
    position: absolute;
    bottom: 10px;
    left: 85px;
    color: #fff;
    font-size: 1.8em;
    line-height: 1.34em; 
    font-family: "Courier New", Courier, monospace;
    padding: 0px 10px 5px;
    border: 1px solid #292929;
}

#circle {
    width: 79px;
    height: 79px;
    background: url(../images/circle-3.png)no-repeat;
    bottom: 59px;
    left: 127px;
    position: absolute;
}

#mi-km {
    bottom: -25px;
    left: 97px;
    text-align: center;
    position: absolute;
    width: 140px;
    height: 30px;
    color: #999;
    font-size: 1.4em;
    font-family: "Courier New", Courier, monospace;
}
 #a {   
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}