<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .row.content {height: 1500px}
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    var {
      color: blue;
    }
    @media screen and (max-width: 5000px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    samp {
    font-family: monospace;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Menu</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Loginapi</a></li>
        <li class="active"><a href="#section2">forgot_password</a></li>
        <li class="active"><a href="#section3">index</a></li>
        <li class="active"><a href="#section4">profile_info</a></li>
        <li class="active"><a href="#section5">profile_partner</a></li>
        <li class="active"><a href="#section6">select_username</a></li>
        <li class="active"><a href="#section7">callitme_username</a></li>
        <li class="active"><a href="#section8">profile_pic</a></li>
        <li class="active"><a href="#section9">add_pic</a></li>
        <li class="active"><a href="#section10">firsttime_promodode</a></li>
        <li class="active"><a href="#section11">home</a></li>
        <li class="active"><a href="#section12">user_followers</a></li>
        <li class="active"><a href="#section13">followings</a></li>
        <li class="active"><a href="#section14">account</a></li>
        <li class="active"><a href="#section15">edit_profile_info</a></li>
        <li class="active"><a href="#section16">edit_partner_info</a></li>
        <li class="active"><a href="#section17">send_message</a></li>
        <li class="active"><a href="#section18">user_reply</a></li>  
        <li class="active"><a href="#section19">promo_code_use</a></li>
        <li class="active"><a href="#section20">you_might_be_intrested</a></li>
        <li class="active"><a href="#section21">like</a></li>
        
      </ul><br>
    </div>
    <div class="col-sm-9">
      <h4><small>API Reference</small></h4>
      <hr>
      <h2>Introducation</h2>
      <p>The Maangu Mobile API is organized around REST. Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We support cross-origin resource sharing, allowing you to interact securely with our API from a client-side web application (though you should never expose your secret API key in any public website's client-side code). JSON is returned by all API responses, including errors, although our API libraries convert responses to appropriate language-specific objects.
      To make the API as explorable as possible, accounts have test mode and live mode API keys. There is no "switch" for changing between modes, just use the appropriate key to perform a live or test transaction. Requests made with test mode credentials never hit the banking networks and incur no cost.</p>
      
      <hr>
      <h2>Authentication</h2>
      <p>Authenticate your account when using the API by including your secret API key in the request. You can manage your API keys in the Dashboard. Your API keys carry many privileges, so be sure to keep them secret! Do not share your secret API keys in publicly accessible areas such GitHub, client-side code, and so forth.Authentication to the API is performed via HTTP Basic Auth. Provide your API key as the basic auth username value. You do not need to provide a password.</p>
      <p>All API requests must be made over HTTPS. Calls made over plain HTTP will fail. API requests without authentication will also fail.</p>
      <hr>
      <h2>Error</h2>
      <p>Maangu website uses conventional HTTP response codes to indicate the success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted, a charge failed, etc.), and codes in the 5xx range indicate an error with servers (these are rare).</p>
      <hr>
    <h2 id="section1">Login</h2> 
    <p>Auth user use your register email id and password.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request  Parameter :</strong><br>
    <code>email :{'xyz@gmail.com'}</code><br>
    <code>password :{'****'}</code><br><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user login email id and password is correct</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/loginapi?email=pgoswami@maangu.com&password=123456</var><br><br>
    <code>Response :</code>
    </p><pre>{"userinfo":{"id":"792","email":"pgoswami@maangu.com","password":"5fecc6a901ea5058e68f5945111775f876642a132bad1392f35723011465473b","member_id":"838","is_active":"1","logins":{},"last_login":1474533186,"username":"pradeepgoswami","ipintoo_username":null,"email_notification":"0","activation_date":"2016-09-12 23:59:59","registration_date":null,"last_payment":null,"payment_expires":"2016-10-12 23:59:59","promo_code":"","offer_status":"0","is_blocked":"0","reminder_date":null,"new_email":null,"firsttime_done":"done","ip":"103.55.90.53","latitute":"28.58","longitude":"77.33"},"member":{"id":"838","first_name":"Pradeep","last_name":"Goswami","sex":"Male","marital_status":"1","targetwedding":"December 2025","birthday":"1990-02-20","height":"5","phone_number":"+919548957991","complexion":"1","built":"1","diet":"1","smoke":"2","drink":"2","mangalik":"2","location":"Pooth Khas, Meerut, Uttar Pradesh, India","birth_place":"Pooth Khas, Meerut, Uttar Pradesh, India","city":"Pooth Khas","district":"","state":"Uttar Pradesh","country":"India","religion":"1","residency_status":"0","education":"4","institute":"Delhi, India","caste":"1","profession":"Architect","salary":"200000","salary_nation":"2","native_language":"16","about_me":"I am good","partner_id":"222","photo_id":"275","read_notification_at":"2016-08-02 03:33:11","is_deleted":"0","time":"2016-09-13 04:55:13","delete_expires":"2016-06-09"},"partner":{"id":"222","sex":"Female","age_min":"24","age_max":"26","height_min":"34","height_max":"34","marital_status":"125","location":"Delhi, India","city":"New Delhi","state":"Delhi","country":"Brazil, Canada, Denmark, France","complexion":"12","built":"12","diet":"1","smoke":"2","drink":"2","mangalik":"2","religion":"1","residency_status":"","education":"34","caste":"1234","profession":"Architect,Army,Bank Officer,BusinessMan,Clerk,Designer,Engineer","salary_min":"","salary_max":"","salary_nation":"2"},"photo":{"id":"275","path":null,"profile_pic":"pp-838-gkUWL2yO.jpg","picture1":"picture1-1463555745.jpg","picture2":"picture2-1466594513.jpg","picture3":"picture3-1469619908.jpg","profile_pic_s":"pp-838-gkUWL2yO_s.jpg","profile_pic_m":"pp-838-gkUWL2yO_m.jpg","profile_pic_o":""}}</pre></p>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user email id is deactivated  and delete expires of date</span></h4>
    <code>Response :</code>
    <pre>{"msg":"Your account has been deleted. Please contact our support team"}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user email id is blocked</span></h4>
    <code>Response :</code>
    <pre>{"msg":"Your account has been blocked. Please contact our support team"}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user email id is not active and account_expires of register date</span></h4>
    <code>Response :</code>
    <pre>{"msg":"Your account has been suspended because you have not activated your account yet."}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user login email id and password is incorrect</span></h4>
    <code>Response :</code>
    <pre>{"msg":"The email address or password you entered does not match our records."}</pre>
    <hr> 
    <h2 id="section2">Forgot Password</h2>  
    <p>If user forgot password</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request  Parameter :</strong><br>
    <code>email :{'xyz@gmail.com'}</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user forgot password and account is active send email if of user register email </span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/forgot_password?email=pgoswami@maangu.com</var><br><br>
    <code>Response :</code>
    <pre>{"success":"We have sent an email to your registered email address with a password reset link.\n Please check your email and click on the link.", "user_email":"pgoswami@maangu.com"}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user account is not active</span></h4>
    <code>Response :</code>
    <pre>{"msg":"Sorry, this account is not active yet."}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user email id is incorrect</span></h4>
    <code>Response :</code>
    <pre>{"msg":"Sorry, this email is not registered in our system."}</pre>
    <hr>

    <h2 id="section3">User Register</h2>  
    <p>When user register in our website</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request  Parameter :</strong><br>
    <code>targetwedding :{'select only calendar date not user input type'}</code><br>
    <code>first_name :{'type only characters and first latter is capital only english not hindi'}</code><br>
    <code>last_name :{'type only characters and first latter is capital only english not hindi'}</code><br>
    <code>sex :{'Male|Female'}</code><br>
    <code>marital_status = 1 :{'For Example: array(1=>'single',2=>'Seperated',3=>'Divorced',4=>'Widowed',5=>'Annulled')'}</code></br>
    <code>birthday :</code><br>
    <code>email :{'abc@gmail.com'}</code><br>
    <code>password :{'*****'}</code><br>
    <code>location :{'select only google api location not user input type'},for example :{'Delhi,New Delhi,India'}</code><br>
    <code>phone_number :{'maxlength 10 integer digit not characters of mobile no.'}</code><br>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user does not fil all input text field</span></h4>
    <code>Response :</code>
    <pre>{"error":1,"message":"All fields are required."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user does not fil correct google location</span></h4>
    <code>Response :</code>
    <pre>{"error":1,"message":"Please choose a proper location."}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user age less then 18</span></h4>
    <code>Response :</code>
    <pre>{"age_not_valid":"We are sorry, but you must be at least 18 years or older to use this Web Site. Come back once your hit 18!"}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user register same email</span></h4>
    <code>Response :</code>
    <pre>{"error":1,"message":"This email has already been registered."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user register same phone number</span></h4>
    <code>Response :</code>
    <pre>{"error":1,"message":"This phone number has already been registered."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user register and fill all required information</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/profile_info? targetwedding=20/01/2022&first_name=Raheel&last_name=Arshad&sex=Male&marital_status=1&birthday=20/05/1788&
    email=raheelpak@gmail.com&password=123456&location=Lohar ,Pakistan&phone_number=1234567891
    </var><br>
    <code>Response :</code>
    <pre>{"success":"1","message":"signup successfully","Member_id":2155}</pre>
    <hr>
    <h2 id="section4">User Profile Information</h2>  
    <p>When user complete first step register in our website.then goto second ster profile information.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>height = 1:{'For Example array(1=>"4' 0'' (121 cm)",2=>"4' 1'' (124 cm)",3=>"4' 2'' (127 cm)",4=>"4' 3'' (129 cm)")'}</code><br>
    <code>complexion = 1:{'For Example array(1=>'Fair',2=>'Medium',3=>'Dark',4=>'Wheatish')'}</code><br>
    <code>built = 1: {'For Example array(1=>'Slim',2=>'Average',3=>'Athletic',4=>'Heavy')'}</code><br>
    <code>smoke = 1: {'For Example array(1=>'Yes',2=>'No')'}</code><br>
    <code>drink = 1: {'For Example array(1=>'Yes',2=>'No')'}</code><br>
    <code>native_language = 1: {'For Example array(1=>'Avadhi',2=>'Assamesc',3=>'Bengali',4=>'Bhojpuri')'}</code><br>
    <code>mangalik = 1:{'For Example array(1=>'Yes',2=>'No')'}</code><br>
    <code>diet = 1 : {'For Example array(1=>'Veg',2=>'Non-Veg')'}</code><br>
    <code>religion =1:{'For Example array(1=>'Hinduism',2=>'Buddhism',3=>'Sikhism',4=>'Christianity',5=>'Islam',6=>'Judaism',7=>'Jainism',8=>'No Religion')'}</code><br>
    <code>caste =1 :{'For Example array(1=>'Brahman',2=>'Kayastha',3=>'Kshatriya',4=>'Sudra',5=>'Vaishya',6=>'Not Applicable')'}</code><br>
    <code>birth_place : {'select only google api location not user input type'}</code><br>
    <code>education = 1 :{'For Example array{1=>'Below High School',2=>'High School',3=>'Bachelors',4=>'Masters',5=>'Doctorate'}'}</code><br>
    <code>institute :</code><br>
    <code>profession :</code><br>
    <code>salary_nation = 1:{'For Example 1=>'$',2=>'Rs'}</code><br>
    <code>salary :{'type only integer digit not characters'}</code><br>
    <code>about_me</code><br>
    <code>member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user does not fill all input text field.</span></h4>
    <code>Response :</code>
    <pre>{"error":1,"message":"Please fill all the fields."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user fill all input text field</span></h4>
    <code>URL:</code>
    <pre><var>https://www.maangu.com/mobile-test/maanguapi/profile_info?member_id=2155&height=3&complexion=2&built=1&smoke=1&drink=1&native_language=2&mangalik=1&diet=1&religion=1&caste=2&birth_place=delhi&education=3&institute=delhi%20university&profession=2&salary_nation=2&salary=500000&about_me=good</var><br></pre>
    <code>Response :</code>
    <pre>{"Status":"Insert Data","Member_Profile_Id":"2155","toastr_success":"Your profile details have been updated. Now, please take a moment \\\n  to check your partner details."}
    </pre>
    <hr>
   <h2 id="section5">User Profile Partner Information</h2>  
    <p>When user complete Profile information.then goto Partner information.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>age_min : </code><br>
    <code>age_max : </code><br>
    <code>height_min = 1:{'For Example array(1=>"4' 0'' (121 cm)",2=>"4' 1'' (124 cm)",3=>"4' 2'' (127 cm)",4=>"4' 3'' (129 cm)")'}</code><br>
    <code>height_max = 1:{'For Example array(1=>"4' 0'' (121 cm)",2=>"4' 1'' (124 cm)",3=>"4' 2'' (127 cm)",4=>"4' 3'' (129 cm)")'}</code><br>
    <code>complexion = 1:{'For Example array(1=>'Fair',2=>'Medium',3=>'Dark',4=>'Wheatish','D'=>'Don\'t Care')'}</code><br>
    <code>built = 1: {'For Example array(1=>'Slim',2=>'Average',3=>'Athletic',4=>'Heavy','D'=>'Don\'t Care')'}</code><br>
    <code>smoke = 1: {'For Example array(1=>'Yes',2=>'No','D'=>'Don\'t Care')'}</code><br>
    <code>drink = 1: {'For Example array(1=>'Yes',2=>'No','D'=>'Don\'t Care')'}</code><br>
    <code>mangalik = 1:{'For Example array(1=>'Yes',2=>'No','D'=>'Don\'t Care')'}</code><br>
    <code>diet = 1 : {'For Example array(1=>'Veg',2=>'Non-Veg','D'=>'Don\'t Care')'}</code><br>
    <code>religion =1:{'For Example array(1=>'Hinduism',2=>'Buddhism',3=>'Sikhism',4=>'Christianity',5=>'Islam',6=>'Judaism',7=>'Jainism',8=>'No Religion','D'=>'Don\'t Care')'}</code><br>
    <code>caste =1 :{'For Example array(1=>'Brahman',2=>'Kayastha',3=>'Kshatriya',4=>'Sudra',5=>'Vaishya',6=>'Not Applicable','D'=>'Don\'t Care')'}</code><br>
    <code>location :{'select only google api location not user input type'},for example :{'Delhi,New Delhi,India'}</code><br>
    <code>education = 1 :{'For Example array(1=>'Below High School',2=>'High School',3=>'Bachelors',4=>'Masters',5=>'Doctorate','D'=>'Don\'t Care')'}</code><br>
    <code>institute :</code><br>
    <code>profession :</code><br>
    <code>salary_nation = 1:{'For Example 1=>'$',2=>'Rs'}</code><br>
    <code>salary_min :{'type only integer digit not characters'}</code><br>
    <code>salary_max :{'type only integer digit not characters'}</code><br>
    <code>member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user does not fill all input text field.</span></h4>
    <code>Response :</code>
    <pre>{"error":1,"message":"Please fill all the fields. "}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user does not fil correct google location.</span></h4>
    <code>Response :</code>
    <pre>{"error":1,"message":"Please choose a proper location."}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> User partner Maximum age should be greater than minimum age.</span></h4>
    <code>Response :</code>
    <pre>{"Error":0,"age_range":"Maximum age should be greater than minimum age."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> User partner Maximum height should be greater than minimum height.</span></h4>
    <code>Response :</code>
  <pre>{"Error":0,"Height range":"Maximum height should be greater than minimum height."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user fill all input text field.</span></h4>
    <code>URL:</code>
    <pre><var>:https://www.maangu.com/mobile-test/maanguapi/profile_partner?member_id=2155&age_min=5&age_max=6&height_min=6&height_max=8&caste=2&location=noida&diet=1&complexion=1&built=1&marital_status=2&smoke=1&drink=1&religion=3&mangalik=1&education=4&profession=designer&salary_nation=1&salary_min=200000&salary_max=300000</var><br></pre>
    <code>Response :</code>
    <pre>{"Status":"Insert Data","Partner Info":539,"toastr_success":"You have updated your desired partner details. Now, please see if you have uploaded \\\n  your beautiful photos. You can add one profile photo and three additional photos. Make sure your face is clearly visible. \\\n  Pictures containing anything other than yourself are not allowed and will be deleted by the system."}</pre>
    <hr>
    <h2 id="section6">Select Username</h2>
    <p>When user complete Partner Profile information.then goto select username.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>username : </code><br>
    <code>member_id : </code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user select first time username.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/select_username?member_id=838&username=pradeep</var><br>
    <code>Response :</code>
    <pre>{"maanguusername":"Your Username has been updated. Now your profile \\\n can be viewed and searched by your Username.","Status":"TRUE"}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user username have already.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/select_username?member_id=2155&username=pradeep</var><br>
    <code>Response :</code>
    <pre>{"Usernameerror":"This Username is already taken. Please select something else.","Status":"False"}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user update username.</span></h4>
    <code>Response :</code>
    <pre>{"toastr_success":"Your Username has been updated. Now your profile \\\n can be viewed and searched by your Username."}</pre>
    <hr>

    <h2 id="section7">Callitme Username</h2>
    <p>If user have callitme username.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>ipintoo_username : </code><br>
    <code>member_id : </code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user have callitme username is active.</span></h4>
    <code>Response :</code>
    <pre>{"callitme_username":"your callitme username is activated"}</pre>
    <hr>

    <h2 id="section8">Profile Picture</h2>
    <p>When user complete registration then goto upload profile pic.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>POST</code><br>
    <strong>Request Parameter :</strong><br>
    <code>member_id : </code><br>
    <code>picture: </code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> User upload profile picture.</span></h4>
    <code>Response :</code>
    <pre>:{"id":"275","path":null,"profile_pic":"pp-838-oC8jxHQT.jpg","picture1":"picture1-1463555745.jpg","picture2":"picture2-1466594513.jpg","picture3":"picture3-1469619908.jpg","profile_pic_s":"pp-838-oC8jxHQT_s.jpg","profile_pic_m":"pp-838-oC8jxHQT_m.jpg","profile_pic_o":""}</pre>
    <hr>

    <h2 id="section9">User add three photos</h2>
    <p>user add three photos.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>POST</code><br>
    <strong>Request Parameter :</strong><br>
    <code>member_id : </code><br>
    <code>picture: </code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> User upload one photos.</span></h4>
    <h6>Note : in parameter keep picture = 1 in hidden field for add one photos</h6>
    <code>Response :</code>
    <pre>:picture1-1474623069.jpg{"id":"275","path":null,"profile_pic":"pp-838-oC8jxHQT.jpg","picture1":"picture1-1474623069.jpg","picture2":"picture2-1466594513.jpg","picture3":"picture3-1469619908.jpg","profile_pic_s":"pp-838-oC8jxHQT_s.jpg","profile_pic_m":"pp-838-oC8jxHQT_m.jpg","profile_pic_o":""}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> User upload second photos.</span></h4>
    <h6>Note : in parameter keep picture = 2 in hidden field for upload second photos</h6>
    <code>Response :</code>
    <pre>:picture2-1474623474.jpg{"id":"275","path":null,"profile_pic":"pp-838-oC8jxHQT.jpg","picture1":"picture1-1474623426.jpg","picture2":"picture2-1474623474.jpg","picture3":"picture3-1469619908.jpg","profile_pic_s":"pp-838-oC8jxHQT_s.jpg","profile_pic_m":"pp-838-oC8jxHQT_m.jpg","profile_pic_o":""}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> user upload third photos.</span></h4>
    <h6>Note : in parameter keep picture = 3 in hidden field for upload third photos</h6>
    <code>Response :</code>
    <pre>:picture3-1474623560.jpg{"id":"275","path":null,"profile_pic":"pp-838-oC8jxHQT.jpg","picture1":"picture1-1474623426.jpg","picture2":"picture2-1474623474.jpg","picture3":"picture3-1474623560.jpg","profile_pic_s":"pp-838-oC8jxHQT_s.jpg","profile_pic_m":"pp-838-oC8jxHQT_m.jpg","profile_pic_o":""}</pre>
    <hr>

    <h2 id="section10">Firsttime use promodode</h2>
    <p>When user complete register then use firsttime promocode.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>promocode : </code><br>
    <code>member_id: </code><br>
    <h6>Note : When user register complete first time  use promocode.</h6>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user use correct promocode.</span></h4>
    <code>URL:</code>
   
    <var>https://www.maangu.com/mobile-test/maanguapi/firsttime_promodode?member_id=2155&promocode=Sept2016</var><br>
    <code>Response :</code>
    <pre>{"Status":"1","Success":" Your Promo Code has been accepted."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user use incorrect promocode.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/firsttime_promodode?member_id=2155&promocode=Sept20165</var><br>
    <code>Response :</code>
    <pre>{"invalid_promo_error":"0","error":"Your Promo code is not valid. Please enter a new promo code or choose a plan below to make payment with your credit or debit card."}</pre>
    <hr>

    <h2 id="section11">Home pages activities</h2>
    <p>user home page activities like as user post and user intersted_member show in the home page.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>member_id: </code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> User home page activities like (user post and user intersted_member).</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/home?member_id=838</var><br>
    <code>Response :</code>
    <pre>{
                        'success':'1',
                        'intersted_member':[
                                                
                            {
                                    'profile_pic':'pp-64-XKc6UFwm.jpg',
                                    'first_name':'Tofa',
                                    'last_name':'Yadav',
                                    'mage':'33',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Gulariya Municipality, Mid-Western Region, Nepal'
                            },
                            {
                                    'profile_pic':'pp-325-M4rWcw9H.jpg',
                                    'first_name':'Bhavya',
                                    'last_name':'Sahay',
                                    'mage':'24',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'New Delhi, Delhi, India'
                            },
                            {
                                    'profile_pic':'pp-723-Dyr1RJn7.jpg',
                                    'first_name':'Simar',
                                    'last_name':'Dhillon',
                                    'mage':'28',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Bangalore, Karnataka, India'
                            },
                            {
                                    'profile_pic':'pp-728-rt3Wr7TR.jpg',
                                    'first_name':'Leena',
                                    'last_name':'Kaur',
                                    'mage':'28',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'New York, NY, United States'
                            },
                            {
                                    'profile_pic':'pp-779-ecAz69SU.jpg',
                                    'first_name':'Kemi',
                                    'last_name':'Amdalah',
                                    'mage':'28',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'New York, Ã‰tat de New York, Ã‰tats-Unis'
                            }
                                            ],
                        'posts':[
                                    {
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':'<a href="pradeepgoswami">Pradeep Goswami</a> wants to get married by December 2025.',
                                    'post_time':'12th Sep at 11:55 ',
                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' wants to get married by 27/09/2018.',
                                    'post_time':'3rd Sep at 01:54 ',
                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' is 4' 4'' (132 cm) tall.',
                                    'post_time':'3rd Sep at 01:54 ',


                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' is 4' 4'' (132 cm) tall.',
                                    'post_time':'3rd Sep at 01:53 ',
                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' is 4' 4'' (132 cm) tall.',
                                    'post_time':'3rd Sep at 01:53 ',
                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' is 4' 4'' (132 cm) tall.',
                                    'post_time':'3rd Sep at 01:53 ',
                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' wants to get married by 27/09/2017.',
                                    'post_time':'3rd Sep at 01:49 ',
                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' wants to get married by 27/09/2017.',
                                    'post_time':'3rd Sep at 01:49 ',
                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' wants to get married by 27/09/2017.',
                                    'post_time':'3rd Sep at 01:49 ',
                                  },{
                                    'profile_pic_s':'pp-838-oC8jxHQT_s.jpg',
                                    'name':'Pradeep Goswami',
                                    'last_name':'Amdalah',
                                    'show_post':' wants to get married by 27/09/2017.',
                                    'post_time':'3rd Sep at 01:49 ',
                                  }
                                ]
                    }
</pre>
    <hr>
    <h2 id="section12">User followers(User Interested In You)</h2>
    <p>user intrested in you.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>member_id: </code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> User interested in you.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/user_followers?member_id=838</var><br>
    <code>Response :</code>
    <pre>{
                        'success':'1',
                        'intersted_member':[
                                                
                            {
                                    'profile_pic':'pp-19-Y1V9Triq_s.jpg',
                                    'first_name':'Nikhil Monga',
                                    'age':'26',
                                    'sex':'Male',
                                    'marital_status':'Single',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-21-jt0hSVOY_s.jpg',
                                    'first_name':'Gunjan Shrivastav',
                                    'age':'33',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Gulariya, Mid-Western Region, Nepal'
                            }
                            {
                                    'profile_pic':'AS',
                                    'first_name':'Anju Sing',
                                    'age':'26',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Delhi, India'
                            }
                            {
                                    'profile_pic':'DS',
                                    'first_name':'Dolly Singh',
                                    'age':'22',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Delhi, India'
                            }
                            {
                                    'profile_pic':'ms',
                                    'first_name':'monika sharma',
                                    'age':'27',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Delhi, India'
                            }
                                            ]
                    }</pre>
    <hr>
    <h2 id="section13">Followings(You Interested In Member)</h2>
    <p>you interested in member.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>member_id: </code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> You interested in member.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/followings?member_id=838</var><br>
    <code>Response :</code>
    <pre>{
                    'success':'1',
                    'intersted_member':[
                                          
                            {
                                    'profile_pic':'pp-28-6X6zLGzl_s.jpg',
                                    'first_name':'Riti Patel',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Washington, DC, United States'
                            }
                            {
                                    'profile_pic':'pp-43-OAUWOaW4_s.jpg',
                                    'first_name':'Rajanee Srivastava',
                                    'age':'27',
                                    'sex':'Female',
                                    'location':'Gulariya Municipality, Mid-Western Region, Nepal'
                            }
                            {
                                    'profile_pic':'pp-64-XKc6UFwm_s.jpg',
                                    'first_name':'Tofa Yadav',
                                    'age':'33',
                                    'sex':'Female',
                                    'location':'Gulariya Municipality, Mid-Western Region, Nepal'
                            }
                            {
                                    'profile_pic':'SB',
                                    'first_name':'Swati Baheti',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'MS',
                                    'first_name':'Mini Singh',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'RD',
                                    'first_name':'Rachana Dhople',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'Mumbai, Maharashtra, India'
                            }
                            {
                                    'profile_pic':'Ps',
                                    'first_name':'Pankaj singh',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'RS',
                                    'first_name':'Reema Sidhu',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'PK',
                                    'first_name':'PUNAM  KACHHAWAHA',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-157-tlXo91fF_s.jpg',
                                    'first_name':'Zoya Khan',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-189-vaB4f3le_s.jpg',
                                    'first_name':'Inderpreet Kaur',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'Jalandhar, Punjab, India'
                            }
                            {
                                    'profile_pic':'SD',
                                    'first_name':'Sunita Dhali',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'DD',
                                    'first_name':'Darwin Devio',
                                    'age':'24',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'PD',
                                    'first_name':'Priya D',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Chennai, Tamil Nadu, India'
                            }
                            {
                                    'profile_pic':'pp-469-I29gplHE_s.jpg',
                                    'first_name':'Karishma Singh',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Toronto, ON, Canada'
                            }
                            {
                                    'profile_pic':'pp-563-0UjOzm3q_s.jpg',
                                    'first_name':'Rayan Mahmoud',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Essex, CT'
                            }
                            {
                                    'profile_pic':'pp-583-ibEh8YTc_s.jpg',
                                    'first_name':'Ranjana Asthana',

                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Orissa, Odisha, India'
                            }
                            {
                                    'profile_pic':'SS',
                                    'first_name':'Shweta Shrivastava',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Mumbai, Maharashtra, India'
                            }
                            {
                                    'profile_pic':'SJ',
                                    'first_name':'Sneha Jha',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'PM',
                                    'first_name':'Priya ManeDeshmukh',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-619-d78F8e8c_s.jpg',
                                    'first_name':'Mauli Buch',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'RP',
                                    'first_name':'Ria Patani',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Jaipur, Rajasthan, India'
                            }
                            {
                                    'profile_pic':'RR',
                                    'first_name':'Rathi RajaSekaran',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-640-kMVcxZ7O_s.jpg',
                                    'first_name':'Uma Devi',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Hyderabad, Andhra Pradesh, India'
                            }
                            {
                                    'profile_pic':'KA',
                                    'first_name':'Kritika Agrawal',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Gorakhpur, Uttar Pradesh, India'
                            }
                            {
                                    'profile_pic':'SP',
                                    'first_name':'Sweta Patel',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-747-IljiOs3v_s.jpg',
                                    'first_name':'D Sharma',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'San Diego, CA, United States'
                            }
                            {
                                    'profile_pic':'ZP',
                                    'first_name':'Zelma Perrett',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'VR',
                                    'first_name':'Varun Reddy',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'San Francisco, CA, United States'
                            }
                            {
                                    'profile_pic':'RS',
                                    'first_name':'Rashmi Shrivastava',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-822-v3yH8kU0_s.jpg',
                                    'first_name':'Rabi Kay',
                                    'age':'28',
                                    'sex':'Female',
                                    'location':'Dakar, Senegal'
                            }
                            {
                                    'profile_pic':'pp-874-94bY5jCr_s.jpg',
                                    'first_name':'Anjali Patel',
                                    'age':'22',
                                    'sex':'Female',
                                    'location':'Delhi, India'
                            }
                            {
                                    'profile_pic':'EP',
                                    'first_name':'Elmo Parramore',
                                    'age':'37',
                                    'sex':'Female',
                                    'location':'Panjim, Goa, India'
                            }
                            {
                                    'profile_pic':'OM',
                                    'first_name':'Otis Mitchel',
                                    'age':'42',
                                    'sex':'Female',
                                    'location':'Mumbai, Maharashtra, India'
                            }
                            {
                                    'profile_pic':'SP',
                                    'first_name':'Sandra Pederson',
                                    'age':'39',
                                    'sex':'Female',
                                    'location':'Mumbai, Maharashtra, India'
                            }
                            {
                                    'profile_pic':'sr',
                                    'first_name':'sadhan rajpoot',
                                    'age':'23',
                                    'sex':'Female',
                                    'location':'Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-1743-ggfXyB5Q_s.jpg',
                                    'first_name':'chaitaly mehta',
                                    'age':'39',
                                    'sex':'Female',
                                    'location':'Mumbai, Maharashtra, India'
                            }
                            {
                                    'profile_pic':'MK',
                                    'first_name':'Madhavi Kumari',
                                    'age':'39',
                                    'sex':'Female',
                                    'location':'Bangalore, Karnataka, India'
                            }
                            {
                                    'profile_pic':'AS',
                                    'first_name':'Anju Sing',
                                    'age':'26',
                                    'sex':'Female',
                                    'location':'Delhi, India'
                            }
                            {
                                    'profile_pic':'DS',
                                    'first_name':'Dolly Singh',
                                    'age':'22',
                                    'sex':'Female',
                                    'location':'Delhi, India'
                            }
                            {
                                    'profile_pic':'ms',
                                    'first_name':'monika sharma',
                                    'age':'27',
                                    'sex':'Female',
                                    'location':'Delhi, India'
                            }
                            {
                                    'profile_pic':'RS',
                                    'first_name':'Rimpy S',
                                    'age':'31',
                                    'sex':'Female',
                                    'location':'Delhi, India'
                            }
                                        ]
                    }</pre>
    <hr>
    <h2 id="section14">Account Setting</h2>
    <p>User account details</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>For Email => email, member_id</code><br>
    <code>For Username => username,member_id</code><br>
    <code>For Update Password  => old_password, password, member_id</code><br>
    <code>For CalltimeUserName => ipintoo_username, member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user want to change email.</span></h4>
    <code>URL:</code>
    <var>: https://www.maangu.com/mobile-test/maanguapi/account?email=pgoswami@apprit.com&member_id=838</var><br>
    <code>Response :</code>
    <pre>{"new_email_change":"Email id successfully changed","status":"1"}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user type same email.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/account?email=pgoswami@maangu.com&member_id=838</var><br>
    <code>Response :</code>
    <pre>{"error":"This email is already registered","status":"0"}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user want to change username.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/account?member_id=838&username=pradeepgoswami</var><br>
    <code>Response :</code>
    <pre>{"Status":"1","toastr_success":"Your Username has been updated successfully."}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user type same username of other user username.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/account?member_id=2155&username=pradeep</var><br>
    <code>Response :</code>
    <pre>{"Usernameerror":"This Username is already taken. Please select something else.","Status":"0"}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user want to change password.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/account?member_id=838&old_password=123456&password=12345</var><br>
    <code>Response :</code>
    <pre>{"success":"Your password has been updated", "status":"1"}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user type wrong password.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/account?member_id=838&old_password=123456&password=12345</var><br>
    <code>Response :</code>
    <pre>{"error":"Incorrect User Password.","status":"0"}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user callitme name is active.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/account?member_id=838&ipintoo_username=pradeep</var><br>
    <code>Response :</code>
    <pre>{"success":1,"message":"Callitme username updated successfully."}</pre>
    <hr>
    <h2 id="section15">User update profile information</h2>
    <p>User update information.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>targetwedding</code><br>
    <code>location</code><br>
    <code>smoke</code><br>
    <code>height</code><br>
    <code>complexion</code><br>
    <code>built</code><br>
    <code>smoke</code><br>
    <code>native_language</code><br>
    <code>religion</code><br>
    <code>caste</code><br>
    <code>diet</code><br>
    <code>drink</code><br>
    <code>mangalik</code><br>
    <code>education</code><br>
    <code>birth_place </code><br>
    <code>institute</code><br>
    <code>profession</code><br>
    <code>salary_nation</code><br>
    <code>salary</code><br>
    <code>about_me</code><br>
    <code>member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user does not fill all input text field.</span></h4>
    <code>Response :</code>
    <pre>{"error":1,"message":"Please fill all the fields. "}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user does not fil correct google location.</span></h4>
    <code>Response :</code>
    <pre> {"error":1,"message":"Please choose a proper location."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user fill all input type field.</span></h4>
    <code>URL:</code>
    <pre><var>https://www.maangu.com/mobile-test/maanguapi/edit_profile_info?member_id=838&targetwedding=20/02/2216&height=9&location=delhi&complexion=2&built=1&native_language=1&religion=2&caste=1&diet=2&smoke=1&drink=2&mangalik=1&education=3&birth_place=meerut&institute=ccsuniversity&profession=teacher&salary_nation=1&salary=50000&about_me=fine</var><br></pre>
    <code>Response :</code>
    <pre>{"Status":"Update Data","Member_Profile_Id":"838","toastr_success":"Your profile details have been updated."}</pre>
    <hr>

    <h2 id="section16">User update partner profile information</h2>
    <p>User update partner information.</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>POST</code><br>
    <strong>Request Parameter :</strong><br>
    <code>age_min</code><br>
    <code>age_max</code><br>
    <code>height_min</code><br>
    <code>height_max</code><br>
    <code>country</code><br>
    <code>marital_status</code><br>
    <code>caste</code><br>
    <code>religion</code><br>
    <code>complexion</code><br>
    <code>smoke</code><br>
    <code>drink</code><br>
    <code>education</code><br>
    <code>profession</code><br>
    <code>member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> When you go to this link fii one field and go to enter button.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/edit_partner_data</var><br>
    <code>Response :</code>
    <pre>{"Status":"1","Message":"Partner's complexion information updated successfully"}</pre>
    <!-- <img src="<?php //echo url::base();?>assets/images/user4-128x128.jpg"> -->
    <hr>

    <h2 id="section17">Send Message</h2>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>POST</code><br>
    <strong>Request Parameter :</strong><br>
    <code>user_id</code><br>
    <code>parent_id</code><br>
    <code>member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> When user send a message.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/send_mess</var><br>
    <code>Response :</code>
    <pre>{"Status":"1","Success":"Your message has been sent."}</pre>
    <img src="<?php echo url::base();?>assets/images/user4-128x128.jpg">
    <hr>

    <h2 id="section18">User msg replay</h2>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>POST</code><br>
    <strong>Request Parameter :</strong><br>
    <code>to</code><br>
    <code>parent_id</code><br>
    <code>member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> When user replay a message.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/user_msg_replay</var><br>
    <code>Response :</code>
    <pre>{"Status":"1","Success":"Your message has been sent."}</pre>
   <!--  <img src="<?php //echo url::base();?>assets/images/user4-128x128.jpg"> -->
    <hr>

    <h2 id="section19">Promo Code Use</h2>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>promocode</code><br>
    <code>member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user use is expire then use promocode.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/promo_code_use?member_id=838&promocode=Sept2016</var><br>
    <code>Response :</code>
    <pre>2016-10-12 23:59:59{"Status":"1","Success":"Your Promo Code has been accepted."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user already  use promocode .</span></h4>
    <code>Response :</code>
    <pre>{"used_promo_error":"0","Already Used Promocode":"You have already used this promo code. Please use a new promo code or choose a plan below to make a payment with your credit or debit card."}</pre>

    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user use incorrect promocode.</span></h4>
    <code>Response :</code>
    <pre>{"Error":"0","invalid_promo_error":"Your Promo code is not valid. Please enter a new promo code or choose a plan below to make payment with your credit or debit card."}</pre>
    <hr>

    <h2 id="section20">You Might Be Intrested</h2>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>GET</code><br>
    <strong>Request Parameter :</strong><br>
    <code>member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> user home page you might be interested activities like.</span></h4>
    <code>URL:</code>
    <var>https://www.maangu.com/mobile-test/maanguapi/you_might_be_intrested?member_id=838</var><br>
    <code>Response :</code>
    <pre>{
                        'success':'1',
                        'You might be intrested':[
                                                
                            {
                                    'profile_pic':'KJ',
                                    'first_name':'Komal Joshi',
                                    'age':'30',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Jaipur, Rajasthan, India'
                            }
                            {
                                    'profile_pic':'PS',
                                    'first_name':'Prani S',
                                    'age':'28',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Perth, Western Australia, Australia'
                            }
                            {
                                    'profile_pic':'KC',
                                    'first_name':'Khushbu Choudhary',
                                    'age':'28',
                                    'sex':'Female',
                                    'marital_status':'Divorced',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'PG',
                                    'first_name':'P GUMBER',
                                    'age':'23',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-822-v3yH8kU0_s.jpg',
                                    'first_name':'Rabi Kay',
                                    'age':'28',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Dakar, Senegal'
                            }
                            {
                                    'profile_pic':'NO',
                                    'first_name':'Neha Ohri',
                                    'age':'28',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'RS',
                                    'first_name':'Reema Sidhu',
                                    'age':'24',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'pp-43-OAUWOaW4_s.jpg',
                                    'first_name':'Rajanee Srivastava',
                                    'age':'27',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Gulariya Municipality, Mid-Western Region, Nepal'
                            }
                            {
                                    'profile_pic':'SC',
                                    'first_name':'Sangeeta Chauhan',
                                    'age':'28',
                                    'sex':'Female',
                                    'marital_status':'Divorced',
                                    'location':'New Delhi, Delhi, India'
                            }
                            {
                                    'profile_pic':'AS',
                                    'first_name':'Anju Sing',
                                    'age':'26',
                                    'sex':'Female',
                                    'marital_status':'Single',
                                    'location':'Delhi, India'
                            }
                                            ]
                    }<pre>

    <hr>
    <h2 id="section21">Like and Dislike Member</h2>
    <p>User like and dislike</p>
    <h5 style="color:#0862d6">ATTRIBUTES</h5>
    <hr>
    <strong>Method</strong><br>
    <code>POST</code><br>
    <strong>Request Parameter :</strong><br>
    <code>For Dislike => dislike,member_id</code><br>
    <code>For Like    =>like , member_id</code><br>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user dislike a member.</span></h4>
    <code>Response :</code>
    <pre>{"Status":"1","Success":"Dislike Member."}</pre>
    <h4><span class="glyphicon glyphicon-hand-right" style="color:#FF00FF;"> If user like a member.</span></h4>
    <code>Response :</code>
    <pre>{"Status":"1","Success":"Remove Dislike Member."}</pre>
    <hr>

    <h1>Note this type use array values</h1>
    <code>'marital_status' => array(
        1 => 'Single',
        2 => 'Seperated',
        3 => 'Divorced',
        4 => 'Widowed',
        5 => 'Annulled',
        'D' => 'Don\'t Care',
    ),
    'diet' => array(
        1 => 'Veg',
        2 => 'Non-Veg',
        'D' => 'Don\'t Care',
    ),
    'religion' => array(
        1 => 'Hinduism',
        2 => 'Buddhism',
        3 => 'Sikhism',
        4 => 'Christianity',
        5 => 'Islam',
        6 => 'Judaism',
        7 => 'Jainism',
        8 => 'No Religion',
        'D' => 'Don\'t Care',
    ),
    'residency_status' => array(
        1 => 'Citizen',
        2 => 'Permanent Resident',
        3 => 'Visa',
        'D' => 'Don\'t Care',
    ),
    'education' => array(
        1 => 'Below High School',
        2 => 'High School',
        3 => 'Bachelors',
        4 => 'Masters',
        5 => 'Doctorate',
        'D' => 'Don\'t Care',
    ),
    'caste' => array(
        1 => 'Brahman',
        2 => 'Kayastha',
        3 => 'Kshatriya',
        4 => 'Sudra',
        5 => 'Vaishya',
        6 => 'Not Applicable',
        'D' => 'Don\'t Care',
    ),
    'height' => array(
        1 => "4' 0'' (121 cm)",
        2 => "4' 1'' (124 cm)",
        3 => "4' 2'' (127 cm)",
        4 => "4' 3'' (129 cm)",
        5 => "4' 4'' (132 cm)",
        6 => "4' 5'' (134 cm)",
        7 => "4' 6'' (137 cm)",
        8 => "4' 7'' (139 cm)",
        9 => "4' 8'' (142 cm)",
        10 => "4' 9'' (144 cm)",
        11 => "4' 10'' (147 cm)",
        12 => "4' 11'' (149 cm)",
        13 => "5' 0'' (152 cm)",
        14 => "5' 1'' (154 cm)",
        15 => "5' 2'' (157 cm)",
        16 => "5' 3'' (160 cm)",
        17 => "5' 4'' (162 cm)",
        18 => "5' 5'' (165 cm)",
        19 => "5' 6'' (167 cm)",
        20 => "5' 7'' (170 cm)",
        21 => "5' 8'' (172 cm)",
        22 => "5' 9'' (175 cm)",
        23 => "5' 10'' (177 cm)",
        24 => "5' 11'' (180 cm)",
        25 => "6' 0'' (182 cm)",
        26 => "6' 1'' (185 cm)",
        27 => "6' 2'' (187 cm)",
        28 => "6' 3'' (190 cm)",
        29 => "6' 4'' (192 cm)",
        30 => "6' 5'' (195 cm)",
        31 => "6' 6'' (197 cm)",
        32 => "6' 7'' (200 cm)",
        33 => "6' 8'' (202 cm)",
        34 => "6' 9'' (205 cm)",
        35 => "6' 10'' (207 cm)",
        36 => "6' 11'' (2.10 cm)",
        37 => "7' (213 cm) or More",
    ),
   'native_language' => array(
        1  => "Avadhi",
        2  => "",//"Akan",
        3  => "",//"Amharic",
        4  => "",//"Arabic",
        5  => "Assamesc",
        6  => "",//"Azeri",
        7  => "",//"Baluchi",
        8  => "Bengali",
        9  => "Bhojpuri",
        10 => "",//"Bork",
        11 => "",//"Burmese",
        12 => "",//"Byelorussian",
        13 => "",// "Cantonese",
        14 => "",//"Danish",
        15 => "",//"Dzongkha",
        16 => "English",
        17 => "",//"French",
        18 => "",//"Fula",
        19 => "",//"Garhwali",
        20 => "",//"German",
        21 => "Gujarati",
        22 => "",//"Hebrew",
        23 => "Hindi",
        24 => "Kannada",
        25 => "Kashmiri",
        26 => "",//"Khmer",
        27 => "Konkani",
        28 => "",//"Lithunian",
        29 => "",//"Malay",
        30 => "Malayalam",
        31 => "Maithali",
        32 => "Manipuri",
        33 => "Marathi",
        34 => "Marwari",
        35 => "Nepali",
        36 => "Oriya",
        37 => "",//"Pashto",
        38 => "",//"Persian",
        39 => "Punjabi",
        40 => "Sanskrit",
        41 => "",//"Siamese",
        42 => "Sindhi",
        43 => "",//"Sinhales",
        44 => "",//"Spanish",
        45 => "",//"Sudanese",
        46 => "Tamil",
        47 => "Telugu",
        48 => "Tulu",
        49 => "Urdu",
        50 => "",//"Zhuang",
        51 => "Other",
      ),
    'complexion' => array(
        1 => 'Fair',
        2 => 'Medium',
        3 => 'Dark',
        4 => 'Wheatish',
        'D' => 'Don\'t Care',
    ),
    'built' => array(
        1 => 'Slim',
        2 => 'Average',
        3 => 'Athletic',
        4 => 'Heavy',
        'D' => 'Don\'t Care',
    ),
    'smoke' => array(
        1 => 'Yes',
        2 => 'No',
        'D' => 'Don\'t Care',
    ),
    'drink' => array(
        1 => 'Yes',
        2 => 'No',
        'D' => 'Don\'t Care',
    ),
    'mangalik' => array(
        1 => 'Yes',
        2 => 'No',
        'D' => 'Don\'t Care',
    ),
</code>
    <hr>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>
